<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<div class="doc-content">
	<form action="$admin.setTarget('customer.vm')" class="form-horizontal well" id="queryForm">
		<div class="row">
			<div class="control-group">
				<label class="control-label">姓名：</label>
				<div class="controls">
					<input type="text" class="control-text" name="name" value="$!query.name">
					<input type="hidden" name="page" id="page" value="$!query.page">
					<input type="hidden" name="id" value="$!query.id">
				</div>
				<label class="control-label">手机：</label>
				<div class="controls">
					<input type="text" class="control-text" name="mobile" value="$!query.mobile">
				</div>
				<label class="control-label">推荐人：</label>
				<div class="controls">
					<input type="text" class="control-text" name="recommender" value="$!query.recommender">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="control-group">
				<label class="control-label">归属：</label>
				<div class="controls">
					<select name="employeeId">
						<option selected value="">全部</option>
						#foreach($employee in $employeeEnum)
						<option 
							#if($!query.employeeId==$!employee.id)
								selected
							#end
							value="$!employee.id">$!employee.name</option>
						#end
					</select>
				</div>
				<label class="control-label">注册时间：</label>
				<div class="controls">
					<input type="text" class="calendar" name="createStart" id="createStart" value="$!query.createStart">
					至
					<input type="text" class="calendar" name="createEnd" id="createEnd" value="$!query.createEnd">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-actions offset3">
				<button class="button button-primary"><i class="icon-search icon-white"></i>搜索</button>
				<button type="reset" class="button"><i class="icon-repeat"></i>重置</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		var Calendar = BUI.Calendar;
		
		var createStart = new Calendar.DatePicker({
		  trigger:'#createStart',
		  selectedDate : new Date(),
		  autoRender : true
		});
		
		var createEnd = new Calendar.DatePicker({
			  trigger:'#createEnd',
			  selectedDate : new Date(),
			  autoRender : true
		});
	</script>
</div>
<div id="grid"></div>
$control.setTemplate("paging.vm")
#set ($group = $form.customer.defaultInstance)
<form method="post" id="actionFrom">
	$csrfToken.hiddenField
	<input type="hidden" name="action" value="customerAction"/>  
	<input type="hidden" id="event" name="event_submit_do_update" value="true"/>
	<input type="hidden" id="id" name="$group.id.key" value=""/>
	<input type="hidden" id="name" name="$group.name.key" value=""/>
	<input type="hidden" id="employeeId" name="$group.employeeId.key" value=""/>
	<input type="hidden" id="idCard" name="$group.idCard.key" value=""/>
	<input type="hidden" id="mobile" name="$group.mobile.key" value=""/>
	<input type="hidden" id="recommender" name="$group.recommender.key" value=""/>
</form>
<script type="text/javascript">
      var Grid = BUI.Grid,
      Data = BUI.Data;
      var Grid = Grid,
      Store = Data.Store,
      employeeObj = {
    		#foreach($employee in $employeeEnum)
   			"$!employee.id": "$!employee.name"
   				#if(${velocityCount} != $employeeEnum.size())
   					,
   				#end
   			#end
   	  },
      columns = [
		{
			title : 'ID',
			elCls: 'center',
			dataIndex : 'id',
			width: '5%'
		},{
          title : '名称',
          elCls: 'left',
          dataIndex :'name',
          editor : {
				xtype : 'text',
				rules : {required : true}
		  },
		  width:'15%'
        },{
          title : '手机',
          elCls: 'left',
          dataIndex :'mobile',
          editor : {
  				xtype : 'text',
  				rules : {regexp:/^(1(([35][0-9])|(47)|[5][036789]|[8][012346789]))\d{8}$/,required : true}
  		  },
          width:'15%'
        },{
            title : '身份证号',
            elCls: 'left',
            dataIndex :'idCard',
            editor : {
    			xtype : 'text'
    		},
            width:'15%'
        },{
            title : '注册时间',
            elCls: 'left',
            dataIndex :'gmtCreate',
            renderer:BUI.Grid.Format.datetimeRenderer,
            width:'20%'
        },{
            title : '归属坐席',
            elCls: 'left',
            dataIndex :'employeeId',
            editor : {
  				xtype : 'select',
  				items : employeeObj
  		  	},
  		  	renderer : Grid.Format.enumRenderer(employeeObj),
            width:'10%'
        },{
            title : '推荐人手机',
            elCls: 'left',
            dataIndex :'recommender',
            editor : {
    			xtype : 'text',
    			rules : {regexp:/^(1(([35][0-9])|(47)|[5][036789]|[8][012346789]))\d{8}$/}
    		},
            width:'10%'
        },{
			title : '操作',
			elCls: 'center',
			dataIndex : 'oper',
			renderer : function(val,obj,index) {
				var warehouse = "";
				var order = "";
				if(obj != null){
					var id = obj.id;
					warehouse = '<span class="grid-command"><a href="$admin.setTarget("warehouse.vm")?customerId='+id+'">仓库</a></span>';
					order = '<span class="grid-command"><a href="$admin.setTarget("order.vm")?customerId='+id+'">订单</a></span>';
				}
				var edit = '<span class="grid-command btn-edit">编辑</span>';
				return edit+warehouse+order;
			},
	        width:'15%'
		}],
		data = #if($!{list})#noescape()$!{list}#end#else null #end;
      var store = new Store({
        data : data,
        listeners : {
        	'update' : updateFunction
        }
      }),
      editing = new Grid.Plugins.RowEditing({
			triggerCls : 'btn-edit',
			triggerSelected : false
	  }),
      grid = new Grid.Grid({
        render:'#grid',
        width:'100%',//这个属性一定要设置
        columns : columns,
        bbar : {
        	#if(!$!query.id)
        	items : [
				{
					btnCls : 'button button-small',
					text : '<i class="icon-plus"></i>添加',
					listeners : {
						'click' : addFunction
					}
				},{
					btnCls : 'button button-small',
					text : '<i class="icon-print"></i>打印搜索结果',
					listeners : {
						'click' : exportFunction
					}
				}
			]
        	#end
        },
        plugins : [editing],
        store : store
      });

    grid.render();
    
  	//添加记录
	function addFunction() {
		var newData = {};
		store.addAt(newData, 0);
		editing.edit(newData, "name"); //添加记录后，直接编辑
	}
    
    function updateFunction(e){
    	var id = e.record.id;
    	var name = e.record.name;
    	var mobile = e.record.mobile;
    	var employeeId = e.record.employeeId;
    	var idCard = e.record.idCard;
    	var recommender = e.record.recommender;
    	var event = "event_submit_do_update";
    	jQuery("#id").val(id);
    	jQuery("#name").val(name);
    	jQuery("#mobile").val(mobile);
    	jQuery("#employeeId").val(employeeId);
    	jQuery("#idCard").val(idCard);
    	jQuery("#recommender").val(recommender);
    	jQuery("#event").attr("name",event);
    	jQuery("#actionFrom").submit();
    }
    
    function exportFunction(){
    	jQuery("#queryForm").attr("action","$admin.setTarget('/export/customer.vm')");
    	jQuery("#queryForm").submit();
    }
</script>