<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link href="/css/admin/help.css" rel="stylesheet">
<script>
	jQuery(function() {
		jQuery("#help h1 i").click(function() {
			if (jQuery(this).hasClass("icon-plus")) {
				jQuery(this).removeClass("icon-plus");
				jQuery(this).addClass("icon-minus");
			} else {
				jQuery(this).addClass("icon-plus");
				jQuery(this).removeClass("icon-minus");
			}
			jQuery(this).parent().next().next().toggle();
		});
	});
</script>
<div id="help">
	<h1>
		帮助文档标签<i class="icon-minus"></i>
	</h1>
	<p class="auxiliary-text">整个说明文档中会有以下几类标签,分别代表了几种不同类型的说明,适合快速阅读</p>
	<div>
	<p class="sign">
		<i class="icon-tag"></i>这个标记表示名词解释
	</p>
	<p class="question">
		<i class="icon-question-sign"></i>这个标记表示常见问题
	</p>
	<p class="answer">
		<i class="icon-pencil"></i>这个标记表示对常见问题的回答
	</p>
	<p class="good">
		<i class="icon-thumbs-up"></i>这个标记表示这是最佳使用习惯
	</p>
	<p class="warn">
		<i class="icon-thumbs-down"></i>这个标记表示这是不推荐的设置或操作
	</p>
	</div>
	<h1>
		常见问答<i class="icon-minus"></i>
	</h1>
	<p class="auxiliary-text">整理了一些常见的问题和解答</p>
	<div>
		<p class="question">
			<i class="icon-question-sign"></i>问: 权限所保护的是什么资源
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 每一个页面都针对了一类操作,权限即对这些页面访问的控制.
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 名称与标题有什么区别?
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 名称是指在口头沟通当中所用的称呼,例如"可口可乐罐装";
			而标题通常是带有产品属性描述的展示性文字,例如"可口可乐 红色春节包装 330ML".
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 归属坐席是什么意思?
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 将一个客户分配给指定的坐席,保证客户资料隔离,不同坐席之间无法查看对方客户
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 如果将一个客户划归到我的名下
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 可以通过客户管理页面将用户分配给我,或者在我的客户这里直接创建一个用户,注意相同的手机号码不能被创建2次
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 如何为客户添加/编辑仓库?
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 最好的方式是首先进入客户管理,找到该客户,然后点击"仓库"链接,查看该客户拥有的仓库,这样就可以为客户添加新的仓库,关于编辑,直接可以在客户仓库一栏中直接编辑.
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 产品与商品有什么区别?
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 产品是一旦被生产就被确定的属性如规格,尺寸等不变信息;而商品是指在产品基础上用于交易的属性,是随着市场和销售的变化而变化的属性,例如价格,库存等
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 一笔订单的由哪些部分组成?
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 由订单基础信息,物流信息,交易信息和后台操作日志组成
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 如何为客户提交一个订单?
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 首先进入客户管理,找到该客户,然后点击"订单"链接,查看该客户拥有的订单,这样就可以为客户添加新的订单,点击详情,可以再次修改这个订单.
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 如何打印一个导出结果?
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 在浏览器中,选择打印此页面即可
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 如何导出查询结果到Excel
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 复制页面上的表格中的数据,直接粘贴到Excel即可
		</p>
		<p class="question">
			<i class="icon-question-sign"></i>问: 交易管理中详情和明细有什么区别?
		</p>
		<p class="answer">
			<i class="icon-pencil"></i>答: 详情是查看订单详情,而明细是查看这个包里面有哪些产品,数据和价格.
		</p>
	</div>
	<h1>
		菜单栏与顶栏<i class="icon-minus"></i>
	</h1>
	<p class="auxiliary-text">左侧的菜单栏与顶部的工具栏使用说明</p>
	<div>
		<h2>左边菜单</h2>
		<p class="sign">
			<i class="icon-tag"></i>指页面最左边的操作菜单,所有操作的入口.
		</p>
		<p class="auxiliary-text">不同的角色看到的菜单是不一样的.</p>
		<ul>
			<li><b>系统管理</b>: 权限,账号和系统参数配置</li>
			<li><b>产品管理</b>: 品牌,品类以及产品的管理</li>
			<li><b>客户管理</b>: 注册用户的管理</li>
			<li><b>物流管理</b>: 对于收,发地址,仓库的管理</li>
			<li><b>交易管理</b>: 发布商品和订单,交易的管理</li>
		</ul>
		<h2>交易统计</h2>
		<p class="sign">
			<i class="icon-tag"></i>实时交易系统统计.
		</p>
		<p class="auxiliary-text">统计数据每15分钟刷新一次</p>
		<ul>
			<li><b>本月销售</b>: 本月的销售金额(已确认,已发货,已收货,已结算)</li>
			<li><b>总定金额</b>: 本月的收取的总定金额(已确认,已发货,已收货,已结算)</li>
			<li><b>有效订单</b>: 本月有效的订单数(已确认,已发货,已收货,已结算)</li>
			<li><b>已提交</b>: 本月已提交的订单</li>
			<li><b>已确认</b>: 本月已确认的订单</li>
			<li><b>已发货</b>: 本月已发货的订单</li>
			<li><b>已收货</b>: 本月已收货的订单</li>
			<li><b>已结算</b>: 本月已结算的订单</li>
			<li><b>已取消</b>: 本月已取消的订单</li>
		</ul>
		<h2>顶部导航</h2>
		<p class="sign">
			<i class="icon-tag"></i>当前页面的导航信息
		</p>
		<h2>系统通知</h2>
		<p class="sign">
			<i class="icon-tag"></i>主要是一些告知信息,在系统顶部滚动展示,让内部员工都知道,例如XXX商品暂停出货或需要另收服务费等.
		</p>
		<h2>个人菜单</h2>
		<p class="sign">
			<i class="icon-tag"></i>指页面右上角的操作菜单,所有操作的入口.
		</p>
		<ul>
			<li><b>登录信息</b>: 当前的登录用户</li>
			<li><b>注销</b>: 注销登录状态</li>
			<li><b>帮助</b>: 显示帮助文档</li>
		</ul>
	</div>
	<h1>
		系统管理<i class="icon-minus"></i>
	</h1>
	<p class="auxiliary-text">系统管理模块主要是负责管理系统的一些基础配置,其中包括:
		后台账号;角色权限;系统配置和系统通知. 通常该模块有管理员负责</p>
	<div>
		<h2>后台账号</h2>
		<p class="sign">
			<i class="icon-tag"></i>账号: 系统登录用户的一个账号.
		</p>
		<p class="auxiliary-text">后台账号主要负责 开通/关闭
			后台后台工作人员的内部员工账号.同时也可以通过该页面为用户修改登录名,登录密码和角色.</p>
		<blockquote>
			<p class="good">
				<i class="icon-thumbs-up"></i>保护自己的密码.及时修改防止泄露.
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>开放,共享一个账号是不建议的.每个人的订单操作都会有记录,不然无法跟踪订单后台修改记录
			</p>
		</blockquote>
		<ul>
			<li><b>姓名</b>: 即用户登录名,支持中文</li>
			<li><b>密码</b>: 登录时所用的密码</li>
			<li><b>角色</b>: 用户所拥有的角色权限</li>
		</ul>
		<h2>角色权限</h2>
		<p class="sign">
			<i class="icon-tag"></i>角色: 系统登录用户在团队中的分工体现,一个角色只有拥有明确的资源绑定才有意义.
		</p>
		<p class="auxiliary-text">系统默认有一个"系统管理员"角色,该角色是系统初始化时的默认角色,不可被编辑,删除.拥有所有的访问权限,是本系统最大的权限拥有者.</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 权限所保护的是什么资源
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 每一个页面都针对了一类操作,权限即对这些页面访问的控制.
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>为系统配置一个系统管理员,以防万一.
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>推荐配置方案:
			</p>
			<ul>
				<li>系统管理员角色 负责整体把控</li>
				<li>管理员角色 主要负责商品和仓库的管理</li>
				<li>客户经理 负责日常订单处理</li>
			</ul>
			<p class="warn">
				<i class="icon-thumbs-down"></i>过度的权限开放,是不太合适的.
			</p>
		</blockquote>
		<ul>
			<li><b>角色</b>: 角色的名称</li>
			<li><b>说明</b>: 仅用于解释该角色,无其他作用</li>
			<li><b>权限管理</b>: 用于对选定的角色 添加/取消 资源的访问授权</li>
		</ul>

		<h2>系统配置</h2>
		<p class="sign">
			<i class="icon-tag"></i>配置:
			系统运行的一些参数配置,通常会有一些开关,绑定账号,电话号码等参数,通常由系统管理员配置.
		</p>
		<p class="auxiliary-text">开关类型,用 ON/OFF 表示 ON: 打开 OFF: 关闭</p>
		<p class="auxiliary-text">
			日期类型,用 hh(24):mm:ss 表示, 注意格式完整如 晚上6点应表示为18:00:00,而并非<label>18:00</label>,注意输入法全角半角
		</p>
		<p class="auxiliary-text">数字类型,使用数字格式,不需要前面+0或者用,分割等</p>
		<p class="auxiliary-text">电话类型,使用数字格式,不需要前面+0,+86或者用"-"分割等.</p>
		<blockquote>
			<p class="warn">
				<i class="icon-thumbs-down"></i>修改时千万注意格式正确和输入法问题.当数字等不要使用中文格式
			</p>
		</blockquote>
		<ul>
			<li><b>配置键</b>: 无法修改,且为英文字符</li>
			<li><b>配置值</b>: 配置的内容</li>
			<li><b>说明</b>: 对该配置内容的说明</li>
		</ul>

		<h2>系统通知</h2>
		<p class="sign">
			<i class="icon-tag"></i>通知:
			主要是一些告知信息,在系统顶部滚动展示,让内部员工都知道,例如XXX商品暂停出货或需要另收服务费等.
		</p>
		<blockquote>
			<p class="good">
				<i class="icon-thumbs-up"></i>准确的描述,能有效的主管,销售之间降低沟通成本
			</p>
		</blockquote>
		<ul>
			<li><b>发布时间</b>: 系统通知发布的时间</li>
			<li><b>类型</b>: 通知的类型</li>
			<li><b>是否置顶</b>: 第一条滚动展示,多条置顶以此类推</li>
			<li><b>通知内容</b>: 活动通知的内容</li>
		</ul>
	</div>
	<h1>
		产品管理<i class="icon-minus"></i>
	</h1>
	<p class="auxiliary-text">产品管理是对当前所拥有的 产品/产品包 进行分类和管理</p>
	<div>
		<h2>品牌管理</h2>
		<p class="sign">
			<i class="icon-tag"></i>品牌:
			通俗的可以理解为生产商的一个视觉形象标识.一个大的品牌下面可以拥有诸多小品牌,如宝洁下拥有飘柔、舒肤佳、玉兰油、帮宝适等小品牌.
		</p>
		<blockquote>
			<p class="good">
				<i class="icon-thumbs-up"></i>按社会认知去划分品牌,是最有效和合理的
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>品牌的划分太细或太粗都会对用户的搜索造成困扰
			</p>
		</blockquote>
		<ul>
			<li><b>ID</b>: 品牌的唯一标识,这里的ID仅局限于本系统内,与外部标识无任何关联</li>
			<li><b>品牌</b>: 品牌的名称</li>
		</ul>
		<h2>品类管理</h2>
		<p class="sign">
			<i class="icon-tag"></i>品类:
			更多是按产品的功能做一个划分,如肥皂,洗发水,沐浴露.一个品类下面也可以分小品类,如洗发水下可以分舒缓肌肤,补水,脆弱开叉护理,定型丰盈,蓬松,改善毛躁.
		</p>
		<blockquote>
			<p class="good">
				<i class="icon-thumbs-up"></i>按平时销售习惯去划分,会比较合理
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>品类的划分太细或太粗都会对用户的搜索和理解造成困扰
			</p>
		</blockquote>
		<ul>
			<li><b>ID</b>: 品牌的唯一标识,这里的ID仅局限于本系统内,与外部标识无任何关联</li>
			<li><b>品类</b>: 品类的名称</li>
		</ul>
		<h2>产品管理</h2>
		<p class="sign">
			<i class="icon-tag"></i>产品:
			是指够提供给市场，被人们使用和消费，并能满足人们某种需求的任何东西.这里单指这样东西本身固有的属性,例如尺寸,颜色等一旦被生产出来就不会发生变化的属性.而价格则不算产品的属性.
		</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 名称与标题有什么区别?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 名称是指在口头沟通当中所用的称呼,例如"可口可乐罐装";
				而标题通常是带有产品属性描述的展示性文字,例如"可口可乐 红色春节包装 330ML".
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>名称应更符合平时口头交流习惯,而标题则适合页面展示,尽量用较短的属性标签来描述该产品.
				适合的命名会让产品的检索更快速,有效.
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>尽量在标题中体现商品的属性,配合品牌,品类的标识,让客户的检索更方便,易懂
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>名称和标题不要一样
			</p>
		</blockquote>
		<ul>
			<li><b>名称</b>: 在口头沟通当中所用的称呼,例如"可口可乐罐装"</li>
			<li><b>标题</b>: 标题通常是带有产品属性描述的展示性文字,例如"可口可乐 红色春节包装 330ML"</li>
			<li><b>编号</b>: 通常产品的生产商有自己的一个产品编码</li>
			<li><b>品牌</b>: 产品所属的品牌</li>
			<li><b>品类</b>: 产品所属的品类</li>
			<li><b>条码</b>: 条形码</li>
			<li><b>箱码</b>: 包装箱码</li>
			<li><b>有(无)效</b>: 在线状态</li>
			<li><b>描述</b>: 更详细的商品描述信息,可以带广告词或者适合季节,假期,活动等推广,关联信息</li>
			<li><b>规格</b>: 详细的规格信息</li>
			<li><b>XX箱价格</b>: 这是一个阶梯价格,当数量达到XX箱的时候,按这个价格计算</li>
			<li><b>生效日期</b>: 该包装信息的生效日期</li>
		</ul>
		<h2>产品打包</h2>
		<p class="sign">
			<i class="icon-tag"></i>产品包: 是产品的一个集合.可以是一个礼包,绑定等.
		</p>
		<p class="auxiliary-text">先添加一个产品包,然后往里面添加商品,必须要确定包含商品的数量和计量单位,1包和1打还是有很大区别的</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 名称与标题有什么区别?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 名称是指在口头沟通当中所用的称呼,例如"可口可乐罐装";
				而标题通常是带有产品属性描述的展示性文字,例如"可口可乐 红色春节包装 330ML".
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>名称应更符合平时口头交流习惯,而标题则适合页面展示,尽量用较短的属性标签来描述该产品.
				适合的命名会让产品的检索更快速,有效.
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>尽量在标题中体现商品的属性,配合品牌,品类的标识,让客户的检索更方便,易懂
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>名称和标题不要一样
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>计量单位可以使用例如 小瓶 瓶/10ml 包/100g 等准确的描述
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>使用较模糊的计量表达
			</p>
		</blockquote>
		<ul>
			<li><b>名称</b>: 在口头沟通当中所用的称呼,例如"可口可乐罐装"</li>
			<li><b>标题</b>: 标题通常是带有产品属性描述的展示性文字,例如"可口可乐 红色春节包装 330ML"</li>
			<li><b>编号</b>: 通常产品的生产商有自己的一个产品编码</li>
			<li><b>描述</b>: 更详细的商品描述信息,可以带广告词或者适合季节,假期,活动等推广,关联信息</li>
		</ul>
		
		<h2>商品发布</h2>
		<p class="sign">
			<i class="icon-tag"></i>商品: 用于交易的产品,在产品基础上增加了价格,最小购限制,上下架时间和状态属性
		</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 产品与商品有什么区别?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 产品是一旦被生产就被确定的属性如规格,尺寸等不变信息;而商品是指在产品基础上用于交易的属性,是随着市场和销售的变化而变化的属性,例如价格,库存等
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>一个商品如果存在于多个仓库,最好能发布多个商品以区分
			</p>
		</blockquote>
		<ul>
			<li><b>产品包</b>: 产品包的名称</li>
			<li><b>折扣</b>: 在产品基础上打折,如果不填则为不打折, 0.9则表示9折</li>
			<li><b>预定限制</b>: 至少XX箱X万元起订</li>
			<li><b>仓库</b>: 该商品所处仓库</li>
			<li><b>开始时间</b>: 从这个时间开始销售</li>
			<li><b>结束时间</b>: 从这个时间结束销售</li>
			<li><b>是否有效</b>: 该商品信息是否有效</li>
			<li><b>销售时间</b>: 该商品信息有效时间范围</li>
			<li><b>备注</b>: 备注信息</li>
		</ul>
	</div>
	<h1>
		客户管理<i class="icon-minus"></i>
	</h1>
	<p class="auxiliary-text">对系统的注册会员进行管理<br>TODO: 这里需要根据实际需要添加字段,另外需要客户行为的一些统计数据,例如登录次数,浏览深度等</p>
	<div>
		<h2>客户查询</h2>
		<p class="sign">
			<i class="icon-tag"></i>客户: 交易双方中的买方
		</p>
		<p class="auxiliary-text">客户查询是系统中非常重要的一个入口,先定位到一个客户,然后跟着修改这个客户所对应的仓库和订单</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 归属坐席是什么意思?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 将一个客户分配给指定的坐席,保证客户资料隔离,不同坐席之间无法查看对方客户
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>尽量收集和维护客户的基本信息
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>客户管理页面是一个权限很大的页面,可以看到所有的客户信息,应该将该页面功能分配给权限较高的主管,同时也可以在这里分配客户给坐席
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>信息随意且混乱
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>过分的收集客户信息,会增加客户的操作成本,通常客户对自己的个人信息是非常谨慎的,过分的收集会导致客户怀疑和反感
			</p>
		</blockquote>
		<ul>
			<li><b>姓名</b>: 客户的称呼</li>
			<li><b>身份证号</b>: 客户的身份证号</li>
			<li><b>手机号码</b>: 客户主要的联系方式</li>
			<li><b>注册时间</b>: 客户的注册时间</li>
		</ul>
		<h2>我的客户</h2>
		<p class="sign">
			<i class="icon-tag"></i>客户: 交易双方中的买方
		</p>
		<p class="auxiliary-text">我的客户是只查询归属给我的客户的信息,先定位到一个客户,然后跟着修改这个客户所对应的仓库和订单</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 如果将一个客户划归到我的名下
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 可以通过客户管理页面将用户分配给我,或者在我的客户这里直接创建一个用户,注意相同的手机号码不能被创建2次
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>尽量收集和维护客户的基本信息
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>信息随意且混乱
			</p>
			<p class="warn">
				<i class="icon-thumbs-down"></i>过分的收集客户信息,会增加客户的操作成本,通常客户对自己的个人信息是非常谨慎的,过分的收集会导致客户怀疑和反感
			</p>
		</blockquote>
		<ul>
			<li><b>姓名</b>: 客户的称呼</li>
			<li><b>身份证号</b>: 客户的身份证号</li>
			<li><b>手机号码</b>: 客户主要的联系方式</li>
			<li><b>注册时间</b>: 客户的注册时间</li>
		</ul>
	</div>
	<h1>
		物流管理<i class="icon-minus"></i>
	</h1>
	<p class="auxiliary-text">对发货地址(仓库)和送货地址(仓库)进行管理</p>
	<div>
		<h2>我的仓库</h2>
		<p class="sign">
			<i class="icon-tag"></i>仓库: 指的是一个物流地址,可以是仓库,门店等用于商品物流仓储,仓库的联系人可能是客户,也可能是该客户的员工或合作伙伴
		</p>
		<p class="auxiliary-text">我的仓库是我的个人出货地址,一方面方便客户了解发货地址,另一方面方便自己物流管理</p>
		<blockquote>
			<p class="good">
				<i class="icon-thumbs-up"></i>维护好我的仓库,使商品进出一目了然
			</p>
		</blockquote>
		<ul>
			<li><b>姓名</b>: 仓库的称呼</li>
			<li><b>联系人</b>: 仓库管理员的名字</li>
			<li><b>身份证号</b>: 仓库管理员的身份证号</li>
			<li><b>联系手机</b>: 仓库管理员的手机号码</li>
			<li><b>联系电话</b>: 仓库管理员的固定电话</li>
			<li><b>地址</b>: 仓库的地址</li>
			<li><b>备注</b>: 描述信息</li>
		</ul>
		<h2>客户仓库</h2>
		<p class="sign">
			<i class="icon-tag"></i>仓库: 指的是一个物流地址,可以是仓库,门店等用于商品物流仓储,仓库的联系人可能是客户,也可能是该客户的员工或合作伙伴
		</p>
		<p class="auxiliary-text">客户仓库是买家的个人收货物流地址</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 如何为客户添加/编辑仓库?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 最好的方式是首先进入客户管理,找到该客户,然后点击"仓库"链接,查看该客户拥有的仓库,这样就可以为客户添加新的仓库,关于编辑,直接可以在客户仓库一栏中直接编辑.
			</p>
			<p class="good">
				<i class="icon-thumbs-up"></i>维护好客户的仓库,使商品进出一目了然
			</p>
		</blockquote>
		<ul>
			<li><b>姓名</b>: 仓库的称呼</li>
			<li><b>联系人</b>: 仓库管理员的名字</li>
			<li><b>身份证号</b>: 仓库管理员的身份证号</li>
			<li><b>联系手机</b>: 仓库管理员的手机号码</li>
			<li><b>联系电话</b>: 仓库管理员的固定电话</li>
			<li><b>地址</b>: 仓库的地址</li>
			<li><b>备注</b>: 描述信息</li>
		</ul>
	</div>
	<h1>
		交易管理<i class="icon-minus"></i>
	</h1>
	<p class="auxiliary-text">从产品的发布到提交订单,确认订单,发货,订单结算等操作</p>
	<div>
		<h2>交易管理</h2>
		<p class="sign">
			<i class="icon-tag"></i>交易: 一个商品的买卖指一笔交易,一个订单当中可能包含多个商品的买卖(交易)
		</p>
		<p class="auxiliary-text">交易信息是最小的一个交易元素,而一笔订单由多个交易组成</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 交易信息如何修改?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 在交易菜单中是无法修改信息的,需要到订单管理中,找到所属的订单,然后点击详情进进行编辑
			</p>
		</blockquote>
		<ul>
			<li><b>产品包名称</b>: 产品包的名称</li>
			<li><b>交易时间</b>: 交易发生的时间</li>
			<li><b>客户</b>: 客户的称呼和电话</li>
			<li><b>物流费</b>: 物流过程所产生的费用</li>
			<li><b>物流编号</b>: 物流公司所给的编号</li>
			<li><b>总价</b>: 数量*单价</li>
			<li><b>发货地址</b>: 该交易商品的出货地址,由商品发布时确定</li>
			<li><b>收货地址</b>: 该交易商品的收货地址,由客户提供</li>
			<li><b>联系方式</b>: 客户仓库的管理员联系方式</li>
			<li><b>备注</b>: 备注</li>
		</ul>
		<h2>订单管理</h2>
		<p class="sign">
			<i class="icon-tag"></i>订单: 一笔订单,由多笔商品交易组成
		</p>
		<p class="auxiliary-text">一笔订单,由多笔商品交易组成,通常结算是按订单来结算的而不是交易</p>
		<blockquote>
			<p class="question">
				<i class="icon-question-sign"></i>问: 详情和明细有什么区别?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 详情是查看订单详情,而明细是查看这个包里面有哪些产品,数据和价格.
			</p>
			<p class="question">
				<i class="icon-question-sign"></i>问: 一笔订单的由哪些部分组成?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 由订单基础信息,物流信息,交易信息和后台操作日志组成
			</p>
			<p class="question">
				<i class="icon-question-sign"></i>问: 如何为客户提交一个订单?
			</p>
			<p class="answer">
				<i class="icon-pencil"></i>答: 首先进入客户管理,找到该客户,然后点击"订单"链接,查看该客户拥有的订单,这样就可以为客户添加新的订单,点击详情,可以再次修改这个订单.
			</p>
		</blockquote>
		<ul>
			<li><b>客户姓名</b>: 客户的称呼</li>
			<li><b>交易时间</b>: 交易发生的时间</li>
			<li><b>最后更新</b>: 订单最后更新时间</li>
			<li><b>定金</b>: 支付的定金</li>
			<li><b>交易金额</b>: 所有交易金额的综合</li>
			<li><b>物流费</b>: 物流费用</li>
			<li><b>备注</b>: 备注信息</li>
		</ul>
	</div>
</div>