<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<script type="text/javascript" src="/js/Location/location.js"></script>
<div class="doc-content">
	<form action="$admin.setTarget('order.vm')" class="form-horizontal well" id="queryForm">
		<div class="row">
			<div class="control-group">
				<label class="control-label">客户姓名：</label>
				<div class="controls">
					<input type="text" class="control-text" name="customerName" value="$!query.customerName">
					<input type="hidden" name="page" id="page" value="$query.page">
					<input type="hidden" name="customerId" value="$query.customerId">
				</div>
				<label class="control-label">联系人：</label>
				<div class="controls">
					<input type="text" class="control-text" name="keeper" value="$!query.keeper">
				</div>
				<label class="control-label">交易日期：</label>
				<div class="controls">
					<input type="text" class="calendar" name="createStart" id="createStart" value="$!query.createStart">
					至
					<input type="text" class="calendar" name="createEnd" id="createEnd" value="$!query.createEnd">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="control-group">
				<label class="control-label">联系人手机：</label>
				<div class="controls">
					<input type="text" class="control-text" name="mobile" value="$!query.mobile">
				</div>
				<label class="control-label">联系人电话：</label>
				<div class="controls">
					<input type="text" class="control-text" name="phone" value="$!query.phone">
				</div>
				<label class="control-label">收货地址：</label>
				<div class="controls">
					<input type="text" class="control-text input-large" id="qAddressTo" name="addressTo" value="$!query.addressTo">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="control-group">
				<label class="control-label">物流编号：</label>
				<div class="controls">
					<input type="text" class="control-text" name="transportCode" value="$!query.transportCode">
				</div>
				<label class="control-label">状态：</label>
				<div class="controls">
					<select name="status">
					<option selected value="">全部</option>
					#foreach($status in $statusEnum)
					<option 
						#if($!query.status)
							#if($!query.status==$!status.code)
								selected
							#end
						#end 
						value="$!status.code">$!status.desc</option>
					#end
				</select>
				</div>
				<label class="control-label">发货地址：</label>
				<div class="controls">
					<input type="text" class="control-text input-large" id="qAddressFrom" name="addressFrom" value="$!query.addressFrom">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-actions offset3">
				<button class="button button-primary"><i class="icon-search icon-white"></i>搜索</button>
				<button type="reset" class="button"><i class="icon-repeat"></i>重置</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
	jQuery(function(){
		var Calendar = BUI.Calendar;
		
		var createStart = new Calendar.DatePicker({
		  trigger:'#createStart',
		  selectedDate : new Date(),
		  autoRender : true
		});
		
		var createEnd = new Calendar.DatePicker({
			  trigger:'#createEnd',
			  selectedDate : new Date(),
			  autoRender : true
		});
		
		var location = new Location();
		location.addressFrom("qAddressFrom",null);
		location.addressTo("qAddressTo","$!query.customerId",null);
	});
	</script>
</div>
<div id="grid"></div>
$control.setTemplate("paging.vm")
#set ($group = $form.order.defaultInstance)
<div id="editor" style="display:none">
<form method="post" id="actionFrom">
	$csrfToken.hiddenField
	<input type="hidden" id="action" name="action" value="orderAction"/>  
	<input type="hidden" id="event" name="event_submit_do_update" value="true"/>
	<input type="hidden" id="id" name="$group.id.key" value=""/>
	<input type="hidden" id="customerId" name="$group.customerId.key" value=""/>
	<div class="row">
      <div class="control-group">
        <label class="control-label">订单状态：</label>
        <div class="controls">
          	<select id="status" name="$group.status.key">
				#foreach($status in $statusEnum)
				<option value="$!status.code">$!status.desc</option>
				#end
			</select>
        </div>
        <label class="control-label">客户名称：</label>
		<div class="controls">
			<label id="customerName" style="position: relative;top: 2px;"></label>
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">定金：</label>
		<div class="controls">
			<input type="text" id="deposit" name="$group.deposit.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}">
		</div>
        <label class="control-label">交易金额：</label>
        <div class="controls">
          <input type="text" id="totalPrice" name="$group.totalPrice.key" class="input-normal control-text"
          data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}">
        </div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">物流费：</label>
		<div class="controls">
			<input type="text" id="transportFee" name="$group.transportFee.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}">
		</div>
        <label class="control-label">物流编号：</label>
        <div class="controls">
          <input type="text" id="transportCode" name="$group.transportCode.key" class="input-normal control-text">
        </div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">联系人：</label>
		<div class="controls">
			<input type="text" id="keeper" name="$group.keeper.key" class="input-normal control-text">
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">联系手机：</label>
        <div class="controls">
          <input type="text" id="mobile" name="$group.mobile.key" class="input-normal control-text">
        </div>
        <label class="control-label">联系电话：</label>
        <div class="controls">
          <input type="text" id="phone" name="$group.phone.key" class="input-normal control-text">
        </div>
	  </div>
	</div>
	<div class="row">
		<div class="control-group">
	        <label class="control-label">发货地址：</label>
	        <div class="controls">
	          <input type="text" id="addressFrom" name="$group.addressFrom.key" class="input-large control-text">
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="control-group">
	        <label class="control-label">收货地址：</label>
			<div class="controls">
				<input type="text" id="addressTo" name="$group.addressTo.key" class="input-large control-text">
			</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">备注：</label>
        <div class="controls control-row4">
          <textarea id="comment" name="$group.comment.key" class="input-large"></textarea>
        </div>
      </div>
    </div>
</form>
</div>
<script type="text/javascript">
      var Grid = BUI.Grid,
      Data = BUI.Data;
      var Grid = Grid,
      Store = Data.Store,
      statusObj = {
   	   		#foreach($status in $statusEnum)
   			"$!status.code": "$!status.desc"
   				#if(${velocityCount} != $statusEnum.size())
   					,
   				#end
   			#end
   	  },
      columns = [
		{
			title : 'ID',
			elCls: 'center',
			dataIndex : 'id',
			width:'5%'
		},{
			title : '客户名称',
			elCls: 'left',
			dataIndex : 'customerName',
			width:'10%'
		},{
            title : '交易时间',
            elCls: 'left',
            dataIndex :'gmtCreate',
            renderer:BUI.Grid.Format.datetimeRenderer,
            summary : false,
            width:'10%'
        },{
            title : '定金',
            elCls: 'left',
            dataIndex :'deposit',
            summary : true,
		    width:'10%'
        },{
        	title : '交易金额',
            elCls: 'left',
            dataIndex :'totalPrice',
            summary : true,
		    width:'10%'
        },{
        	title : '物流费',
            elCls: 'left',
            dataIndex :'transportFee',
            summary : true,
		    width:'10%'
        },{
            title : '物流编号',
            elCls: 'left',
            dataIndex :'transportCode',
            summary : false,
            width:'10%'
        },{
            title : '状态',
            elCls: 'left',
            dataIndex :'status',
            renderer : Grid.Format.enumRenderer(statusObj),
            summary : false,
            width:'10%'
        },{
            title : '总价',
            elCls: 'left',
            dataIndex :'total',
            renderer: function(val,obj,index){
            	if(obj!=null){
            		var result = 0;
            		var totalPrice = obj.totalPrice;
            		var transportFee = obj.transportFee;
            		if(typeof(totalPrice) != 'undifined'){
            			result += totalPrice;
            		}
            		if(typeof(transportFee) != 'undifined'){
            			result += transportFee;
            		}
            		return result;
            	}
            	return 0;
            }, 
            summary : true,
            width:'10%'
        },{
			title : '操作',
			elCls: 'center',
			dataIndex : 'oper',
			renderer : function(val,obj,index) {
				var detail = "";
				if(obj != null){
					var id = obj.id;
					detail = '<span class="grid-command"><a href="$admin.setTarget("orderdetail.vm")?id='+id+'">详情</a></span>';
				}
				var edit = '<span class="grid-command btn-edit">编辑</span>';
				return detail+edit;
			},
			width:'15%'
		}],
		data = #if($!{list})#noescape()$!{list}#end#else null #end;
      var store = new Store({
        data : data
      }),
      cascade = new Grid.Plugins.Cascade({
		    renderer : function(record){
			    var row = '<div><p>&nbsp;发货地址：' + record.addressFrom + '</p></div>';
			    row += '<div><p>&nbsp;收货地址：' + record.addressTo + '</p></div>';
			    row += '<div><p>&nbsp;联系人：' + record.keeper + ' ' + record.mobile + ' ' + record.phone + '</p></div>';
			    row += '<div><p>&nbsp;备注：' + record.comment + '</p></div>';
			    return row;
		    }
	  }),
      grid = new Grid.Grid({
        render:'#grid',
        width:'100%',//这个属性一定要设置
        columns : columns,
        bbar : {
        	#if($query.customerId)
        		items : 
        		[{
					btnCls : 'button button-small btn-add',
					text : '<i class="icon-plus"></i>添加',
					listeners : {
						'click' : addFunction
					}
				}]
        	#end
        },
        plugins : [cascade,Grid.Plugins.Summary],
        store : store
      });

    grid.render();
    
  	//创建编辑器
    var editor = new BUI.Editor.DialogEditor({ 
        contentId:'editor',
        width : 600,
        mask : true,
        title : '订单修改',
        form : {
          srcNode : '#actionFrom'
        },
        success : function(){
          this.accept();
          jQuery("#actionFrom").submit();
        }
      });

    editor.render();
    
    function addFunction(){
    	editor.show();
		clearRecord('event_submit_do_update');
	}
    
    jQuery(".btn-edit").click(function(){
		if(grid.getSelection().length == 0){
			return;
		}
		editor.show();
		bindRecord('event_submit_do_update');
	});
    
    function bindRecord(event){
    	copyCsrf();
		var selections = grid.getSelection();
    	var record = selections[0];
    	var option = "";
    	
    	var id = record.id;
    	var customerName = record.customerName;
    	jQuery("#customerName").empty().append(customerName);
    	
    	var addressFrom = record.addressFrom;
    	var addressTo = record.addressTo;
    	var keeper = record.keeper;
    	var mobile = record.mobile;
    	var phone = record.phone;
    	var deposit = record.deposit;
    	var totalPrice = record.totalPrice;
    	var transportFee = record.transportFee;
    	var transportCode = record.transportCode;
    	var status = record.status;
    	var comment = record.comment;
    	var customerId = record.customerId;
    	
    	var location = new Location();
    	location.addressFrom("addressFrom",null);
		location.addressTo("addressTo",customerId,function(obj){
			jQuery("#keeper").val(obj.keeper);
	 		jQuery("#mobile").val(obj.mobile);
	 		jQuery("#phone").val(obj.phone);
		});

    	jQuery("#id").val(id);
    	jQuery("#action").val('orderAction');
    	jQuery("#addressFrom").val(addressFrom);
    	jQuery("#addressTo").val(addressTo);
    	jQuery("#keeper").val(keeper);
    	jQuery("#mobile").val(mobile);
    	jQuery("#phone").val(phone);
    	jQuery("#deposit").val(deposit);
    	jQuery("#totalPrice").val(totalPrice);
    	jQuery("#transportFee").val(transportFee);
    	jQuery("#transportCode").val(transportCode);
		
    	jQuery("#status").show();
    	jQuery("#status").empty();
		#foreach($status in $statusEnum)
    		option = "<option ";
			if(status == '$!status.code'){
				option += "selected";
			}
			option += " value='$!status.code'>$!status.desc</option>";
			jQuery("#status").append(option);
		#end

    	jQuery("#comment").val(comment);
		jQuery("#customerId").val(customerId);
		#if($query.customerId)
			jQuery("#customerId").val('$query.customerId');
		#end
    	
    	jQuery("#event").attr("name",event);
		jQuery("#event").val(true);
    }
    
    function clearRecord(event){
		copyCsrf();
		var location = new Location();
		location.addressFrom("addressFrom",null);
		
		jQuery("#customerName").empty().append('${customerName}');
		jQuery("#status").hide();
    	jQuery("#action").val('orderAction');
    	jQuery("#event").attr("name",event);
    	jQuery("#event").val(true);
    	#if($query.customerId)
			jQuery("#customerId").val('$query.customerId');
	    	location.addressTo("qAddressTo","$!query.customerId",function(obj){
				jQuery("#keeper").val(obj.keeper);
	     		jQuery("#mobile").val(obj.mobile);
	     		jQuery("#phone").val(obj.phone);
			});
		#end
    }
    
    function copyCsrf(){
		var csrf = jQuery("input[name='_csrf_token']").val();
		jQuery("input[name='_csrf_token']").each(function(){
			jQuery(this).val(csrf);
		});
	}
</script>