<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<script type="text/javascript" src="/js/Location/location.js"></script>
#set ($orderGroup = $form.order.defaultInstance)
#set ($orderDO = $order.orderDO)
#set ($customerDO = $order.customerDO)
#set ($opLogList = $order.opLogList)
#set ($purchaseList = $order.purchaseList)
<h1>订单详情</h1>
<hr>
<form method="post" class="form-horizontal">
	$csrfToken.hiddenField
	<input type="hidden" name="action" value="orderAction"/>  
	<input type="hidden" name="event_submit_do_update" value="true"/>
	<input type="hidden" name="$orderGroup.id.key" value="$!orderDO.id"/>
	<input type="hidden" name="$orderGroup.customerId.key" value="$!orderDO.customerId"/>
	<div class="row">
      <div class="control-group">
        <label class="control-label">订单状态：</label>
        <div class="controls">
          	<select name="$orderGroup.status.key">
				#foreach($status in $statusEnum)
				<option
				    #if($!orderDO.status == $status.code)
				    	selected 
				    #end 
					value="$!status.code">$!status.desc</option>
				#end
			</select>
        </div>
        <label class="control-label">客户名称：</label>
		<div class="controls">
			<label style="position: relative;top: 2px;min-width: 70px;display: inline-block;">$!orderDO.customerName</label>&nbsp;&nbsp;
			<label style="position: relative;top: 2px;min-width: 70px;display: inline-block;">$!orderDO.customerMobile</label>
		</div>
		<label class="control-label">交易时间：</label>
		<div class="controls">
			<label style="position: relative;top: 2px;min-width: 150px;display: inline-block;">$dateTools.DateToString($!orderDO.gmtCreate)</label>
		</div>
		<label class="control-label">最后更新：</label>
		<div class="controls">
			<label style="position: relative;top: 2px;min-width: 150px;display: inline-block;">$dateTools.DateToString($!orderDO.gmtModify)</label>
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">定金：</label>
		<div class="controls">
			<input type="text" name="$orderGroup.deposit.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="$!orderDO.deposit">
		</div>
        <label class="control-label">交易金额：</label>
        <div class="controls">
          	<input type="text" name="$orderGroup.totalPrice.key" class="input-normal control-text"
          	data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="$!orderDO.totalPrice">
        </div>
        <label class="control-label">物流费合计：</label>
		<div class="controls">
			<input type="text" name="$orderGroup.transportFee.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="$!orderDO.transportFee">
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">备注：</label>
        <div class="controls control-row4">
          <textarea name="$orderGroup.comment.key" class="input-large">$!orderDO.comment</textarea>
        </div>
      </div>
    </div>
    <div class="row">
		<div class="form-actions offset3">
			<button class="button button-primary"><i class="icon-ok icon-white"></i>保存</button>
			<button type="reset" class="button"><i class="icon-repeat"></i>重置</button>
			<a href="$admin.setTarget('/export/orderdetail.vm')?id=$!orderDO.id">&nbsp;打印出货单</a>
		</div>
	</div>
</form>
#set ($group = $form.purchase.defaultInstance)
<div id="editor" style="display:none">
  <form method="post" id="actionFrom">
  	$csrfToken.hiddenField
  	<input type="hidden" id="action" name="action" value="purchaseAction"/>  
	<input type="hidden" id="event" name="event_submit_do_update" value="true"/>
	<input type="hidden" id="id" name="$group.id.key" value=""/>
	<input type="hidden" id="customerId" name="$group.customerId.key" value="$!orderDO.customerId"/>
	<input type="hidden" id="orderId" name="$group.orderId.key" value="$!orderDO.id"/>
    <div class="row">
      <div class="control-group">
      	<label class="control-label">商品名称：</label>
		<div class="controls">
			<input type="hidden" id="publishId" name="$group.publishId.key" class="input-normal control-text" value="">
			<input type="text" id="name" class="input-normal control-text" value="">
		</div>
        <label class="control-label">单价：</label>
		<div class="controls">
			<input type="text" id="price" name="$group.price.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="">
		</div>
        <label class="control-label">数量：</label>
        <div class="controls">
          	<input type="text" id="quantity" name="$group.quantity.key" class="input-normal control-text" 
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="">
        </div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">物流费：</label>
		<div class="controls">
			<input type="text" id="transportFee" name="$group.transportFee.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="">
		</div>
        <label class="control-label">物流编号：</label>
        <div class="controls">
          	<input type="text" id="transportCode" name="$group.transportCode.key" class="input-normal control-text" value="">
        </div>
	  </div>
	</div>
	<div class="row">
		<div class="control-group">
	        <label class="control-label">发货地址：</label>
	        <div class="controls" style="margin-right: 96px;">
	          	<input type="text" id="addressFrom" name="$group.addressFrom.key" class="input-large control-text" 
	          	value="">
	        </div>
	        <label class="control-label">收货地址：</label>
			<div class="controls">
				<input type="text" id="addressTo" name="$group.addressTo.key" class="input-large control-text" 
				value="">
			</div>
		</div>
	</div>
	<div class="row">
      <div class="control-group">
      	<label class="control-label">联系人：</label>
		<div class="controls">
			<input type="text" id="keeper" name="$group.keeper.key" class="input-normal control-text">
		</div>
		<label class="control-label">联系手机：</label>
		<div class="controls">
			<input type="text" id="mobile" name="$group.mobile.key" class="input-normal control-text" 
			data-rules="{regexp:/^(1(([35][0-9])|(47)|[5][036789]|[8][012346789]))\d{8}$/}" data-messages="{regexp:'请输入正确的手机号码'}">
		</div>
		<label class="control-label">联系电话：</label>
		<div class="controls">
			<input type="text" id="phone" name="$group.phone.key" class="input-normal control-text">
		</div>
      </div>
    </div>
    <div class="row">
      <div class="control-group">
        <label class="control-label">备注：</label>
        <div class="controls control-row4">
          <textarea id="comment" name="$group.comment.key" class="input-large"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<br><br>
<h1>订单商品</h1>
<hr>
<div id="grid"></div>
<script type="text/javascript">
      var Grid = BUI.Grid,
      Data = BUI.Data;
      var Grid = Grid,
      Store = Data.Store,
      publishObj = #if($!{publishEnum})#noescape()$!{publishEnum}#end#else null #end,
      columns = [
	  {
		  	title : 'ID',
			elCls: 'center',
			dataIndex : 'id',
			width:'5%'
	  },{
			title : '客户名称',
			elCls: 'left',
			dataIndex : 'customerName',
			width:'10%'
	  },{
	        title : '交易时间',
	        elCls: 'left',
	        dataIndex :'gmtCreate',
	        renderer:BUI.Grid.Format.datetimeRenderer,
	        width:'15%'
      },{
	        title : '类型',
	        elCls: 'left',
	        dataIndex :'prodType',
	        renderer : function(val,obj,index){
	        	var prodType = obj.prodType;
	        	if(prodType == '0') return '产品';
	        	if(prodType == '1') return '产品包';
	        	return "未知";
	        },
		    width:'5%'
      },{
	        title : '产品(包)',
	        elCls: 'left',
	        dataIndex :'extendCode',
	        renderer : function(val,obj,index){
	         	var prodType = obj.prodType;
	         	var extendCode = obj.extendCode;
	         	var name = "";
	         	if(prodType == '0'){
	         		#foreach($product in $productEnum)
	         			if('$product.key' == obj.extendId){
	         				return '['+extendCode+']$product.value';
	         			}
	         		#end
	         	}
				if(prodType == '1'){
					#foreach($package in $packagetEnum)
	     				if('$package.key' == obj.extendId){
	     					return '['+extendCode+']$package.value';
	     				}
	     			#end
	         	}
				return '['+extendCode+']';
	         },
		     width:'10%'
       },{
	         title : '数量',
	         elCls: 'left',
	         dataIndex :'quantity',
	         width:'10%'
       },{
	         title : '单价',
	         elCls: 'left',
	         dataIndex :'price',
	         width:'10%'
       },{
	         title : '物流费',
	         elCls: 'left',
	         dataIndex :'transportFee',
	         width:'10%'
       },{
	         title : '物流编号',
	         elCls: 'left',
	         dataIndex :'transportCode',
	         width:'10%'
       },{
	         title : '总价',
	         elCls: 'left',
	         renderer: function(val,obj,index){
	         	if(obj!=null){
	           		var price = obj.price;
	           		var quantity = obj.quantity;
	           		if(price != null && quantity !=null){
	           			return price * quantity;
	           		}
	           	}
	           	return 0;
	         }, 
	         width:'5%'
       },{
		 	title : '操作',
		 	elCls: 'center',
		 	dataIndex : 'oper',
		 	renderer : function(val,obj,index) {
				var edit = '<span class="grid-command btn-edit">编辑</span>';
				var del = '<span class="grid-command btn-del">删除</span>';
				return edit+del;
		 	},
	     	width:'10%'
			}],
			data = #if($!{list})#noescape()$!{list}#end#else null #end;
      var store = new Store({
        	data : data
      }),
      cascade = new Grid.Plugins.Cascade({
		    renderer : function(record){
			    var row = '<div><p>&nbsp;发货地址：' + record.addressFrom + '</p></div>';
			    row += '<div><p>&nbsp;收货地址：' + record.addressTo + '</p></div>';
			    row += '<div><p>&nbsp;联系方式：' + record.keeper + ' ' + record.mobile+' ' + record.phone + '</p></div>';
			    row += '<div><p>&nbsp;备注：' + record.comment + '</p></div>';
			    return row;
		    }
	  }),
      grid = new Grid.Grid({
        render:'#grid',
        width:'100%',//这个属性一定要设置
        columns : columns,
        store : store,
        bbar : {
        	items : [
			{
				btnCls : 'button button-small btn-add',
				text : '<i class="icon-plus"></i>添加',
				listeners : {
					'click' : addFunction
				}
			}
			]
        },
        plugins : [cascade]
      });

    grid.render();
    
  	//创建编辑器
    var editor = new BUI.Editor.DialogEditor({ 
        contentId:'editor',
        width : 600,
        mask : true,
        title : '交易管理',
        form : {
          srcNode : '#actionFrom'
        },
        success : function(){
          this.accept();
          jQuery("#actionFrom").submit();
        }
      });

    editor.render();
    
    function addFunction(){
		editor.show();
		clearRecord('event_submit_do_update');
	}
    
    jQuery(".btn-edit").click(function(){
		if(grid.getSelection().length == 0){
			return;
		}
		editor.show();
		bindRecord('event_submit_do_update');
	});
    
    jQuery(".btn-del").click(function(){
		if(grid.getSelection().length == 0){
			return;
		}
		BUI.Message.Confirm("确定删除该订购记录吗?", function() {
			bindRecord('event_submit_do_delete');
			jQuery("#actionFrom").submit();
		}, 'question');
	});
    
    function bindRecord(event){
		copyCsrf();
		var selections = grid.getSelection();
    	var record = selections[0];
		
    	var id = record.id;
    	var addressFrom = record.addressFrom;
    	var addressTo = record.addressTo;
    	var keeper = record.keeper;
    	var mobile = record.mobile;
    	var phone = record.phone;
    	var transportFee = record.transportFee;
    	var transportCode = record.transportCode;
    	var publishId = record.publishId;
    	var name = record.name;
    	var price = record.price;
    	var quantity = record.quantity;
    	var comment = record.comment;

    	jQuery("#id").val(id);
    	jQuery("#action").val('purchaseAction');
    	jQuery("#addressFrom").val(addressFrom);
    	jQuery("#addressTo").val(addressTo);
    	jQuery("#keeper").val(keeper);
    	jQuery("#mobile").val(mobile);
    	jQuery("#phone").val(phone);
    	jQuery("#transportFee").val(transportFee);
    	jQuery("#transportCode").val(transportCode);
    	jQuery("#publishId").val(publishId);
    	jQuery("#name").val(name);
    	jQuery("#price").val(price);
    	jQuery("#quantity").val(quantity);
    	jQuery("#comment").val(comment);
    	jQuery("#customerId").val('$!orderDO.customerId');
    	jQuery("#orderId").val('$!orderDO.id');
    	jQuery("#event").attr("name",event);
    	jQuery("#event").val(true);
    	addPublishPicker();
    }
	
	function clearRecord(event){
		copyCsrf();
    	jQuery("#id").val('');
    	jQuery("#action").val('purchaseAction');
    	jQuery("#addressFrom").val('');
    	jQuery("#addressTo").val('');
    	jQuery("#keeper").val('');
    	jQuery("#mobile").val('');
    	jQuery("#phone").val('');
    	jQuery("#transportFee").val('');
    	jQuery("#transportCode").val('');
    	jQuery("#publishId").val('');
    	jQuery("#name").val('');
    	jQuery("#price").val('');
    	jQuery("#quantity").val('');
    	jQuery("#customerId").val('$!orderDO.customerId');
    	jQuery("#orderId").val('$!orderDO.id');
    	jQuery("#comment").val('');
    	showLocation('province','city','town');
    	jQuery("#event").attr("name",event);
    	jQuery("#event").val(true);
    	addPublishPicker();
    }
	
	function copyCsrf(){
		var csrf = jQuery("input[name='_csrf_token']").val();
		jQuery("input[name='_csrf_token']").each(function(){
			jQuery(this).val(csrf);
		});
	}
	
	function addPublishPicker(){
		jQuery.ajax({
			type: "get",
			url: '/admin/api/getPublish.json',
			success:function(data, textStatus){
				if(data.success){
					publisPicker(data.dataObject,"name",function(obj){
						jQuery("#publishId").val(obj.id);
					});
				}
			}
	 	});
	}
	
	function publisPicker(json ,id, func){
		if(typeof(jQuery("#"+id).next()) == "undefined"){
			jQuery("#"+id).after("<span class='icon-list-alt' style='cursor:pointer; position: relative;left: -20px;'></span>");
		} else {
			if(!jQuery("#"+id).next().hasClass("icon-list-alt")){
				jQuery("#"+id).after("<span class='icon-list-alt' style='cursor:pointer; position: relative;left: -20px;'></span>");
			}
		}
		BUI.use(['bui/picker','bui/grid'],function(Picker,Grid){
	   		var columns = [{
	                 title : '商品名称',
	                 elCls: 'left',
	                 dataIndex :'name',
	                 width:'15%'
	             },{
	                 title : '库存',
	                 elCls: 'left',
	                 dataIndex :'balance',
	                 width:'15%',
	                 renderer : function(val,obj,index){
	                	 if(obj == null){
	                		 return "不限";
	                	 } else {
	                		 return obj.balance;
	                	 }
	                 }
	             },{
	                 title : '最小预定量',
	                 elCls: 'left',
	                 dataIndex :'limitBuy',
	                 width:'15%',
	                 renderer : function(val,obj,index){
	                	 if(obj == null){
	                		 return "不限";
	                	 } else {
	                		 return obj.limitBuy;
	                	 }
	                 }
	             }],
	           grid = new Grid.SimpleGrid({
	             columns : columns,
	             innerBorder : false,
	             elStyle : {'cursor':'pointer'},
	             textGetter: function(obj){ //返回选中的文本
	            	 if(obj != null){
		        		if(func != null){
		        			func(obj);
		        		}
	              		return  obj.name;
	              	} else {
	              		return "";
	              	}
	             },
	             items : json
	           }),
	           picker = new Picker.ListPicker({
	             trigger : '#'+id,  
	             width:500,  //指定宽度
	             children : [grid] //配置picker内的列表
	           });
	   		   picker.render();
		});
	}
</script>
<br><br>
<h1>操作日志</h1>
<hr>
<div>
	<table style="width:100%;">
		#foreach($op in $opLogList)
		<tr style="margin:5px;border-bottom:1px dashed lightgrey;">
			<td style="vertical-align:top;width:150px;">
				$dateTools.DateToString($op.gmtCreate)
			</td>
			<td>
				#noescape()$op.getMsg()#end
			</td>
		</tr>
		#end
	</table>
</div>
<script type="text/javascript">
jQuery(function(){
	var customerId = '$!orderDO.customerId';
	var location = new Location();
	location.addressFrom("addressFrom",null);
	location.addressTo("addressTo",customerId,function(obj){
		jQuery("#keeper").val(obj.keeper);
 		jQuery("#mobile").val(obj.mobile);
 		jQuery("#phone").val(obj.phone);
	});
});
</script>