<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link href="/css/numberInput.css" rel="stylesheet">
<script type="text/javascript" src="/js/Location/location.js"></script>
#set ($orderGroup = $form.order.defaultInstance)
#set ($orderDO = $order.orderDO)
#set ($customerDO = $order.customerDO)
#set ($opLogList = $order.opLogList)
#set ($purchaseList = $order.purchaseList)
<h1>订单详情</h1>
<hr>
<form method="post" class="form-horizontal">
	$csrfToken.hiddenField
	<input type="hidden" name="action" value="orderAction"/>  
	<input type="hidden" name="event_submit_do_update" value="true"/>
	<input type="hidden" name="$orderGroup.id.key" value="$!orderDO.id"/>
	<input type="hidden" name="$orderGroup.customerId.key" value="$!orderDO.customerId"/>
	<div class="row">
      <div class="control-group">
        <label class="control-label">订单状态：</label>
        <div class="controls">
          	<select name="$orderGroup.status.key">
				#foreach($status in $statusEnum)
				<option
				    #if($!orderDO.status == $status.code)
				    	selected 
				    #end 
					value="$!status.code">$!status.desc</option>
				#end
			</select>
        </div>
        <label class="control-label">交易时间：</label>
		<div class="controls">
			<label style="position: relative;top: 2px;min-width: 150px;display: inline-block;">$dateTools.DateToString($!orderDO.gmtCreate)</label>
		</div>
		<label class="control-label">最后更新：</label>
		<div class="controls">
			<label style="position: relative;top: 2px;min-width: 150px;display: inline-block;">$dateTools.DateToString($!orderDO.gmtModify)</label>
		</div>
	 </div>
	</div>
	<div class="row">
	 <div class="control-group">
	 	<label class="control-label">客户名称：</label>
		<div class="controls">
			<input type="text" name="$orderGroup.customerName.key" class="input-normal control-text"
			data-rules="{required:true}" data-messages="{required:'用户名必填'}" value="$!orderDO.customerName">
		</div>
		<label class="control-label">客户电话：</label>
		<div class="controls">
			<input type="text" name="$orderGroup.customerMobile.key" class="input-normal control-text" value="$!orderDO.customerMobile"
			data-rules="{regexp:/^(1(([35][0-9])|(47)|[5][036789]|[8][012346789]))\d{8}$/}" data-messages="{regexp:'请输入正确的手机号码'}">
		</div>
		<label class="control-label">客户身份证：</label>
		<div class="controls">
			<input type="text" name="$orderGroup.customerIdCard.key" class="input-normal control-text" 
			data-rules="{required:true}" data-messages="{required:'用户名必填'}" value="$!orderDO.customerIdCard">
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">定金：</label>
		<div class="controls">
			<input type="text" name="$orderGroup.deposit.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="$!orderDO.deposit">
		</div>
        <label class="control-label">交易金额：</label>
        <div class="controls">
          	<input type="text" name="$orderGroup.totalPrice.key" class="input-normal control-text"
          	data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="$!orderDO.totalPrice">
        </div>
        <label class="control-label">物流费合计：</label>
		<div class="controls">
			<input type="text" name="$orderGroup.transportFee.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="$!orderDO.transportFee">
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">备注：</label>
        <div class="controls control-row4">
          <textarea name="$orderGroup.comment.key" class="input-large">$!orderDO.comment</textarea>
        </div>
      </div>
    </div>
    <div class="row">
		<div class="form-actions offset3">
			<button class="button button-primary"><i class="icon-ok icon-white"></i>保存</button>
			<button type="reset" class="button"><i class="icon-repeat"></i>重置</button>
			<a href="$admin.setTarget('/export/orderdetail.vm')?id=$!orderDO.id">&nbsp;打印出货单</a>
		</div>
	</div>
</form>
#set ($group = $form.purchase.defaultInstance)
<div id="editor" style="display:none">
  <form method="post" id="actionFrom">
  	$csrfToken.hiddenField
  	<input type="hidden" id="action" name="action" value="purchaseAction"/>  
	<input type="hidden" id="event" name="event_submit_do_update" value="true"/>
	<input type="hidden" id="id" name="$group.id.key" value=""/>
	<input type="hidden" id="customerId" name="$group.customerId.key" value="$!orderDO.customerId"/>
	<input type="hidden" id="orderId" name="$group.orderId.key" value="$!orderDO.id"/>
    <div class="row">
      <div class="control-group">
      	<label class="control-label">产品包标题：</label>
		<div class="controls">
			<input type="text" id="title" name="$group.title.key" class="input-normal control-text" value="">
		</div>
      	<label class="control-label">产品包名称：</label>
		<div class="controls">
			<input type="hidden" id="publishId" name="$group.publishId.key" class="input-normal control-text" value="">
			<input type="text" id="name" name="$group.name.key" class="input-normal control-text" value="">
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">物流费：</label>
		<div class="controls">
			<input type="text" id="transportFee" name="$group.transportFee.key" class="input-normal control-text"
			data-rules="{regexp:/^[1-9]\d*|0$/}" data-messages="{regexp:'必须为非负整数'}" value="">
		</div>
        <label class="control-label">物流编号：</label>
        <div class="controls">
          	<input type="text" id="transportCode" name="$group.transportCode.key" class="input-normal control-text" value="">
        </div>
	  </div>
	</div>
	<div class="row">
		<div class="control-group">
	        <label class="control-label">发货地址：</label>
	        <div class="controls" style="margin-right: 96px;">
	          	<input type="text" id="addressFrom" name="$group.addressFrom.key" class="input-large control-text" 
	          	value="">
	        </div>
	        <label class="control-label">收货地址：</label>
			<div class="controls">
				<input type="text" id="addressTo" name="$group.addressTo.key" class="input-large control-text" 
				value="">
			</div>
		</div>
	</div>
	<div class="row">
      <div class="control-group">
      	<label class="control-label">联系人：</label>
		<div class="controls">
			<input type="text" id="keeper" name="$group.keeper.key" class="input-normal control-text">
		</div>
		<label class="control-label">身份证：</label>
		<div class="controls">
			<input type="text" id="keeperIdCard" name="$group.keeperIdCard.key" class="input-normal control-text">
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
		<label class="control-label">联系手机：</label>
		<div class="controls">
			<input type="text" id="mobile" name="$group.mobile.key" class="input-normal control-text" 
			data-rules="{regexp:/^(1(([35][0-9])|(47)|[5][036789]|[8][012346789]))\d{8}$/}" data-messages="{regexp:'请输入正确的手机号码'}">
		</div>
		<label class="control-label">联系电话：</label>
		<div class="controls">
			<input type="text" id="phone" name="$group.phone.key" class="input-normal control-text">
		</div>
      </div>
    </div>
    <div class="row">
      <div class="control-group">
        <label class="control-label">备注：</label>
        <div class="controls control-row4">
          <textarea id="comment" name="$group.comment.key" class="input-large" style="width:410px"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="detail" style="display:none">
	<form method="post" id="detailFrom">
	</form>
</div>
#set ($itemGroup = $form.purchaseItem.defaultInstance)
<div id="purchaseEditor" style="display:none">
	<form method="post" id="purchaseItemActionFrom">
		$csrfToken.hiddenField
	  	<input type="hidden" name="action" value="purchaseAction"/>  
		<input type="hidden" name="event_submit_do_update_items" value="true"/>
		<input type="hidden" id="ids" name="$itemGroup.ids.key" value=""/>
		<input type="hidden" id="quantitys" name="$itemGroup.quantitys.key" value=""/>
		<input type="hidden" name="$itemGroup.orderId.key" value="$!orderDO.id"/>
		<input type="hidden" id="itemPurchaseId" name="$itemGroup.purchaseId.key" value=""/>
		<input type="hidden" id="itemPublishId" name="$itemGroup.publishId.key" value=""/>
	</form>
</div>
<br><br>
<h1>订单商品</h1>
<hr>
<div id="grid"></div>
<script type="text/javascript">
      var Grid = BUI.Grid,
      Data = BUI.Data;
      var Grid = Grid,
      Store = Data.Store,
      columns = [
		{
			title : 'ID',
			elCls: 'center',
			dataIndex : 'id',
			width:'5%'
		},{
			title : '产品包名称',
			elCls: 'left',
			dataIndex : 'name',
			width:'15%'
		},{
            title : '交易时间',
            elCls: 'left',
            dataIndex :'gmtCreate',
            renderer:BUI.Grid.Format.datetimeRenderer,
            width:'15%'
        },{
            title : '客户',
            elCls: 'left',
            dataIndex :'customerName',
            renderer : function(val,obj,index){
            	var customerName = obj.customerName;
            	var customerMobile = obj.customerMobile;
            	return customerName+"("+customerMobile+")";
            },
		    width:'15%'
        },{
            title : '物流费',
            elCls: 'left',
            dataIndex :'transportFee',
            width:'15%'
        },{
            title : '物流编号',
            elCls: 'left',
            dataIndex :'transportCode',
            width:'10%'
        },{
            title : '总价',
            elCls: 'left',
            renderer: function(val,obj,index){
            	var total = 0;
            	if(obj!=null){
            		var items = obj.itemList;
            		for(var item in items){
            			var price = item.price;
                		var quantity = item.quantity;
                		if(price != null && quantity !=null){
                			total += price * quantity;
                		}
            		}
            	}
            	return total;
          	}, 
            width:'10%'
        },{
			title : '操作',
			elCls: 'center',
			dataIndex : 'oper',
			renderer : function(val,obj,index) {
				var edit = '<span class="grid-command btn-edit" onclick="updateFunction('+index+');">编辑</span>';
				var del = '<span class="grid-command btn-del" onclick="deleteFunction('+index+');">删除</span>';
				var detail = '<span class="grid-command" onclick="showDetail('+index+')">明细</span>';
				return detail+edit+del;
			},
	        width:'15%'
		}],
		data = #if($!{list})#noescape()$!{list}#end#else null #end;
      var store = new Store({
        data : data
      }),
      cascade = new Grid.Plugins.Cascade({
		    renderer : function(record){
			    var result = '<div><p>&nbsp;发货地址：' + record.addressFrom + '</p></div>';
			    result += '<div><p>&nbsp;收货地址：' + record.addressTo + '</p></div>';
			    result += '<div><p>&nbsp;联系方式：' + record.keeper + ' ' + record.mobile+' ' + record.phone + '</p></div>';
			    result += '<div><p>&nbsp;备注：' + record.comment + '</p></div>';
			    return result;
		    }
	  }),
      grid = new Grid.Grid({
        render:'#grid',
        width:'100%',//这个属性一定要设置
        columns : columns,
        store : store,
        bbar : {
        	items : [
			{
				btnCls : 'button button-small btn-add',
				text : '<i class="icon-plus"></i>添加',
				listeners : {
					'click' : addFunction
				}
			}
			]
        },
        plugins : [cascade]
      });

    grid.render();
    
  	//创建编辑器
    var editor = new BUI.Editor.DialogEditor({ 
        contentId:'editor',
        width : 600,
        mask : true,
        title : '交易管理',
        form : {
          srcNode : '#actionFrom'
        },
        success : function(){
          this.accept();
          jQuery("#actionFrom").submit();
        }
      });

    editor.render();
    
    function addFunction(){
		editor.show();
		clearRecord('event_submit_do_update');
	}
	
	function updateFunction(index){
		editor.show();
		bindRecord(index,'event_submit_do_update');
	}
	
	function deleteFunction(index){
		BUI.Message.Confirm("确定删除该订购记录吗?", function() {
			bindRecord(index,'event_submit_do_delete');
			jQuery("#actionFrom").submit();
		}, 'question');
	}
	
	function bindRecord(index,event){
		copyCsrf();
		var record = grid.getItemAt(index);
    
    	var id = record.id;
    	var orderId = '$!orderDO.id';
    	var name = record.name;
    	var title = record.title;
    	var publishId = record.publishId;
    	var addressFrom = record.addressFrom;
    	var addressTo = record.addressTo;
    	var keeper = record.keeper;
    	var keeperIdCard = record.keeperIdCard;
    	var phone = record.phone;
    	var mobile = record.mobile;
    	var transportFee = record.transportFee;
    	var transportCode = record.transportCode;
    	var comment = record.comment;

    	jQuery("#id").val(id);
    	jQuery("#action").val('purchaseAction');
    	jQuery("#name").val(name);
    	jQuery("#title").val(title);
    	jQuery("#publishId").val(publishId);
    	jQuery("#addressFrom").val(addressFrom);
    	jQuery("#addressTo").val(addressTo);
    	jQuery("#keeper").val(keeper);
    	jQuery("#keeperIdCard").val(keeperIdCard);
    	jQuery("#phone").val(phone);
    	jQuery("#mobile").val(mobile);
    	jQuery("#transportFee").val(transportFee);
    	jQuery("#transportCode").val(transportCode);
    	jQuery("#comment").val(comment);
    	jQuery("#orderId").val('');
    	jQuery("#customerId").val('$!orderDO.customerId');
    	jQuery("#event").attr("name",event);
    	jQuery("#event").val(true);
    	addPublishPicker();
    }
	
	function clearRecord(event){
		copyCsrf();
    	jQuery("#id").val('');
    	jQuery("#action").val('purchaseAction');
    	jQuery("#name").val('');
    	jQuery("#title").val('');
    	jQuery("#publishId").val('');
    	jQuery("#addressFrom").val('');
    	jQuery("#addressTo").val('');
    	jQuery("#keeper").val('');
    	jQuery("#keeperIdCard").val('');
    	jQuery("#phone").val('');
    	jQuery("#mobile").val('');
    	jQuery("#transportFee").val('');
    	jQuery("#transportCode").val('');
    	jQuery("#orderId").val('$!orderDO.id');
    	jQuery("#customerId").val('$!orderDO.customerId');
    	jQuery("#comment").val('');
    	showLocation('province','city','town');
    	jQuery("#event").attr("name",event);
    	jQuery("#event").val(true);
    	addPublishPicker();
    }
	
	function copyCsrf(){
		var csrf = jQuery("input[name='_csrf_token']").val();
		jQuery("input[name='_csrf_token']").each(function(){
			jQuery(this).val(csrf);
		});
	}
	
	function addPublishPicker(){
		jQuery.ajax({
			type: "get",
			url: '/admin/api/getPublish.json',
			success:function(data, textStatus){
				if(data.success){
					publishPicker(data.dataObject,"name",function(obj){
						jQuery("#publishId").val(obj.publishDO.id);
						jQuery("#title").val(obj.packageDO.title);
					});
				}
			}
	 	});
	}
	
	function publishPicker(json ,id, func){
		if(typeof(jQuery("#"+id).next()) == "undefined"){
			jQuery("#"+id).after("<span class='icon-list-alt' style='cursor:pointer; position: relative;left: -20px;'></span>");
		} else {
			if(!jQuery("#"+id).next().hasClass("icon-list-alt")){
				jQuery("#"+id).after("<span class='icon-list-alt' style='cursor:pointer; position: relative;left: -20px;'></span>");
			}
		}
		BUI.use(['bui/picker','bui/grid'],function(Picker,Grid){
	   		var columns = [{
	                 title : '产品包名称',
	                 elCls: 'left',
	                 width:'25%',
	                 renderer : function(val,obj,index){
	                	 return obj.packageDO.name;
	                 }
	             },{
	                 title : '最小预定数量',
	                 elCls: 'left',
	                 width:'25%',
	                 renderer : function(val,obj,index){
	                	 return obj.publishDO.limitBuyQuantity;
	                 }
	             },{
	                 title : '最小预定价格',
	                 elCls: 'left',
	                 width:'25%',
	                 renderer : function(val,obj,index){
	                	 return obj.publishDO.limitBuyPrice;
	                 }
	             },{
	                 title : '所在仓库',
	                 elCls: 'left',
	                 width:'25%',
	                 renderer : function(val,obj,index){
	                	 return obj.warehouseDO.name;
	                 }
	             }],
	           grid = new Grid.SimpleGrid({
	             columns : columns,
	             innerBorder : false,
	             elStyle : {'cursor':'pointer'},
	             textGetter: function(obj){ //返回选中的文本
	            	 if(obj != null){
		        		if(func != null){
		        			func(obj);
		        		}
	              		return obj.packageDO.name;
	              	} else {
	              		return "";
	              	}
	             },
	             items : json
	           }),
	           picker = new Picker.ListPicker({
	             trigger : '#'+id,  
	             width:500,  //指定宽度
	             children : [grid] //配置picker内的列表
	           });
	   		   picker.render();
		});
	}
	
	//创建编辑器
    var detail = new BUI.Editor.DialogEditor({ 
        contentId:'detail',
        width : 650,
        mask : true,
        title : '成交明细',
        form : {
          srcNode : '#detailFrom'
        },
        success : function(){
        	var ids = getIds();
        	var quantitys = getQuantitys();
        	var param = "ids="+ids;
        	param += "&quantitys="+quantitys;
        	param += "&orderId=$!orderDO.id";
        	param += "&purchaseId="+jQuery("#itemPurchaseId").val();
        	param += "&publishId="+jQuery("#itemPublishId").val();
        	jQuery.ajax({
				type: "get",
				url: '$admin.setTarget('/api/checkPurchaseItems.json')?'+ param,
				success:function(data, textStatus){
					if(data.success){
						jQuery(".error").empty();
						jQuery("#ids").val(ids);
						jQuery("#quantitys").val(quantitys);
						jQuery("#purchaseItemActionFrom").submit();
					} else {
						jQuery(".error").empty().append(data.message);
			     		return;
					}
				}
	     	});
        }
    });
  	
  	function showDetail(index){
  		detail.show();
  		var record = grid.getItemAt(index);
  		var itemList = record.itemList;
  		
  		jQuery("#itemPurchaseId").val(record.id);
  		jQuery("#itemPublishId").val(record.publishId);
  		
  		var items = "";
  		for(var i = 0;i<itemList.length;i++){
  			var item = itemList[i];
  			items += "<div class='row itemRow' itemId='"+item.id+"' publishId='"+record.publishId+"'>";
  			items += "<label style='display:inline-block;min-width:300px;'>"+item.name+"<span class='volume' prodId='"+item.productId+"'></span></label>";
  			items += "<label style='display:inline-block;min-width:100px;' class='price'>"+item.price+"元</label>";
  			items += "<span class='numbericLeft'><i class='icon-plus-mini'></i></span>";
  			items += "<input type='text' class='quan' value='"+item.quantity+"' style='text-align: center;width: 50px;border-left: 0px;border-right: 0px;'>";
  			items += "<span class='numbericRight'><i class='icon-minus-mini'></i></span>箱";
  			items += "</div>";
  		}
  		items += "<div class='row'>";
		items += "<label class='totalPrice' style='display:inline-block;min-width:150px;'></label>";
		items += "<label class='totalQuantity' style='display:inline-block;min-width:150px;'></label>";
		items += "<label class='error' style='display:inline-block;min-width:150px;color:red'></label>";
		items += "</div>";
  		$('#detailFrom').empty().append(items);
  		getTotal();
  		
  		jQuery(".numbericLeft").click(function(){
  			if(jQuery(this).next().attr("disabled") == "disabled"){
  				return;
  			}
  			var current = jQuery(this).next().val();
  			if(current.isNumber()){
  				current++;
  	    		jQuery(this).next().val(current);
  			} else {
  				jQuery(this).next().val("1");
  			}
  			getTotal();
  		});
  		
  		jQuery(".numbericRight").click(function(){
  			if(jQuery(this).next().attr("disabled") == "disabled"){
  				return;
  			}
  			var current = jQuery(this).prev().val();
  			if(current.isNumber()){
  				current--;
  				if(current<=0) {
  					current = 0;
  				}
  	    		jQuery(this).prev().val(current);
  			} else {
  				jQuery(this).prev().val("0");
  			}
  			getTotal();
  		});
  		
  		jQuery(".quan").keyup(function(){
  			if(!jQuery(this).val().isNumber()){
  				jQuery(this).val("0");
  			}
  			getTotal();
  		});
  		
  		function getTotal(){
  			var totalPrice = 0;
  			var totalQuantity = 0;
  			jQuery(".quan").each(function(){
  				var quantity = Number(jQuery(this).val());
  				var purchaseId = jQuery(this).parent().attr("itemId");
  				var quanItem = this;
  				jQuery(this).parent().find(".volume").each(function(){
  					var prodId = jQuery(this).attr("prodId");
  					var volumeItem = this;
  					jQuery.ajax({
  						type: "get",
  						url: '$admin.setTarget('/api/getProductById.json')?id='+ prodId,
  						success:function(data, textStatus){
  							if(data.success){
  								var productDO = data.dataObject;
  								var volume = productDO.volume;
  								if(volume == null){
  									volume = 9999999;
  								}
  								if(quantity > volume){
  									quantity = volume;
  								}
  								jQuery(quanItem).val(quantity);
  								jQuery(volumeItem).empty().append(" (库存 "+volume+" 箱)");
  							} else {
  								jQuery(volumeItem).empty().append(" (库存 "+9999999+" 箱)");
  							}
  							totalPrice += setScale(price * quantity / 10000);
  			  				totalQuantity += quantity;
	  			  			jQuery(".totalPrice").empty().append("共 "+setScale(totalPrice)+" 万元 / "+record.limitBuyPrice+" 万元");
	  						jQuery(".totalQuantity").empty().append("共 "+totalQuantity+" 箱 / "+record.limitBuyQuantity+" 箱");
	  			  			jQuery(".error").empty();
  						}
  			     	});
  				});
  			});
  		}
  		
  		function setScale(Dight){  
  			var f_x = parseFloat(Dight);
  			if (isNaN(f_x))
  			{
  				alert('function:changeTwoDecimal->parameter error');
  				return false;
  			}
  			var f_x = Math.round(Dight*100)/100;
  			return f_x;
        } 
  	}
  	
  	function getIds(){
		var ids = "";
		jQuery(".itemRow").each(function(){
			ids+=jQuery(this).attr("itemId")+",";
		});
		return ids;
	}
  	
  	function getQuantitys(){
  		var quans = "";
		jQuery(".quan").each(function(){
			quans+=jQuery(this).val()+",";
		});
		return quans;
  	}
</script>
<br><br>
<h1>操作日志</h1>
<hr>
<div>
	<table style="width:100%;">
		#foreach($op in $opLogList)
		<tr style="margin:5px;border-bottom:1px dashed lightgrey;">
			<td style="vertical-align:top;width:150px;">
				$dateTools.DateToString($op.gmtCreate)
			</td>
			<td>
				#noescape()$op.getMsg()#end
			</td>
		</tr>
		#end
	</table>
</div>
<script type="text/javascript">
jQuery(function(){
	var customerId = '$!orderDO.customerId';
	var location = new Location();
	location.addressFrom("addressFrom",null);
	location.addressTo("addressTo",customerId,function(obj){
		jQuery("#keeper").val(obj.keeper);
		jQuery("#keeperIdCard").val(obj.keeperIdCard);
 		jQuery("#mobile").val(obj.mobile);
 		jQuery("#phone").val(obj.phone);
	});
});
</script>