<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<div class="doc-content">
	<form action="$admin.setTarget('product.vm')" class="form-horizontal well" id="queryForm">
		<div class="row">
			<div class="control-group">
				<label class="control-label">名称：</label>
				<div class="controls">
					<input type="text" class="control-text" name="name" value="$!query.name">
					<input type="hidden" name="packageId" id="packageId" value="$!query.packageId">
					<input type="hidden" name="page" id="page" value="$!query.page">
				</div>
				<label class="control-label">品牌：</label>
				<div class="controls">
					<select name="brandId">
						<option selected value="">全部</option>
						#foreach($brand in $brandEnum)
						<option 
							#if($!query.brandId==$!brand.key)
								selected
							#end
							value="$!brand.key">$!brand.value</option>
						#end
					</select>
				</div>
				<label class="control-label">品类：</label>
				<div class="controls selector">
					<select name="categoryId">
						<option selected value="">全部</option>
						#foreach($category in $categoryEnum)
						<option 
							#if($!query.categoryId==$!category.key)
								selected
							#end
							value="$!category.key">$!category.value</option>
						#end
					</select>
				</div>
				<label class="control-label">有(无)效：</label>
				<div class="controls selector">
					<select name="enable">
						<option selected value="">全部</option>
						#foreach($enable in $enableEnum)
						<option 
							#if($!query.enable==$!enable.code)
								selected
							#end
							value="$!enable.code">$!enable.desc</option>
						#end
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-actions offset3">
				<button class="button button-primary"><i class="icon-search icon-white"></i>搜索</button>
				<button type="reset" class="button"><i class="icon-repeat"></i>重置</button>
			</div>
		</div>
	</form>
</div>
<div id="grid"></div>
$control.setTemplate("paging.vm")
#set ($group = $form.product.defaultInstance)
<div id="editor" style="display:none">
<form method="post" id="actionFrom">
	$csrfToken.hiddenField
	<input type="hidden" id="action" name="action" value="productAction"/>  
	<input type="hidden" id="event" name="event_submit_do_update" value="true"/>
	<input type="hidden" id="id" name="$group.id.key" value=""/>
	<div class="row">
      <div class="control-group">
        <label class="control-label"><s>*</s>名称：</label>
        <div class="controls">
          <input type="text" id="name" name="$group.name.key" data-rules="{required:true}" 
          data-messages="{required:'请输入产品名称'}" class="input-normal control-text">
        </div>
        <label class="control-label"><s>*</s>标题：</label>
        <div class="controls">
          <input type="text" id="title" name="$group.title.key" data-rules="{required:true}" 
          data-messages="{required:'请输入产品标题'}" class="input-normal control-text">
        </div>
	  </div>
	</div>
	<div class="row">
		<label class="control-label"><s>*</s>库存：</label>
		<div class="controls">
			<input type="text" id="volume" name="$group.volume.key" class="input-normal control-text"
			data-rules="{required:true,regexp:/^[1-9]\d*|0$/}" 
			data-messages="{required:'请输入库存',regexp:'必须为非负整数'}" style="width: 124px;"> 箱
		</div>
		<label class="control-label"><s>*</s>有(无)效：</label>
		<div class="controls selector">
			<select id="enable" name="$group.enable.key">
				#foreach($enable in $enableEnum)
				<option value="$!enable.code">$!enable.desc</option>
				#end
			</select>
		</div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">SU：</label>
        <div class="controls">
          <input type="text" id="su" name="$group.su.key" class="input-normal control-text">
        </div>
        <label class="control-label"><s>*</s>3500箱价格：</label>
        <div class="controls">
          <input type="text" id="price3500" name="$group.price3500.key" class="input-normal control-text"
          data-rules="{required:true,regexp:/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/}" 
          data-messages="{required:'请输入单价',regexp:'请输入正确的数字格式'}" style="width: 124px;"> 元
        </div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label"><s>*</s>2000箱价格：</label>
        <div class="controls">
          <input type="text" id="price2000" name="$group.price2000.key" class="input-normal control-text"
          data-rules="{required:true,regexp:/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/}" 
          data-messages="{required:'请输入单价',regexp:'请输入正确的数字格式'}" style="width: 124px;"> 元
        </div>
        <label class="control-label"><s>*</s>800箱价格：</label>
        <div class="controls">
          <input type="text" id="price800" name="$group.price800.key" class="input-normal control-text"
          data-rules="{required:true,regexp:/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/}" 
          data-messages="{required:'请输入单价',regexp:'请输入正确的数字格式'}" style="width: 124px;"> 元
        </div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label"><s>*</s>200箱不含税：</label>
        <div class="controls">
          <input type="text" id="price200NoTax" name="$group.price200NoTax.key" class="input-normal control-text"
          data-rules="{required:true,regexp:/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/}" 
          data-messages="{required:'请输入单价',regexp:'请输入正确的数字格式'}" style="width: 124px;"> 元
        </div>
        <label class="control-label"><s>*</s>200箱价格：</label>
        <div class="controls">
          <input type="text" id="price200" name="$group.price200.key" class="input-normal control-text"
          data-rules="{required:true,regexp:/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/}" 
          data-messages="{required:'请输入单价',regexp:'请输入正确的数字格式'}" style="width: 124px;"> 元
        </div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label"><s>*</s>100箱价格：</label>
        <div class="controls">
          <input type="text" id="price100" name="$group.price100.key" class="input-normal control-text"
          data-rules="{required:true,regexp:/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/}" 
          data-messages="{required:'请输入单价',regexp:'请输入正确的数字格式'}" style="width: 124px;"> 元
        </div>
        <label class="control-label"><s>*</s>建议售价：</label>
        <div class="controls">
          <input type="text" id="priceSugg" name="$group.priceSugg.key" class="input-normal control-text"
          data-rules="{required:true,regexp:/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/}" 
          data-messages="{required:'请输入单价',regexp:'请输入正确的数字格式'}" style="width: 124px;"> 元
        </div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">体积：</label>
        <div class="controls">
          <input type="text" id="cubage" name="$group.cubage.key" class="input-normal control-text" style="width: 98px;"> dm³/箱
        </div>
        <label class="control-label">重量：</label>
        <div class="controls">
          <input type="text" id="weight" name="$group.weight.key" class="input-normal control-text" style="width: 98px;"> 公斤/箱
        </div>
	  </div>
	</div>
	<div class="row">
		<label class="control-label">品牌：</label>
		<div class="controls">
			<select id="brandId" name="$group.brandId.key">
				#foreach($brand in $brandEnum)
				<option value="$!brand.key">$!brand.value</option>
				#end
			</select>
		</div>
		<label class="control-label">品类：</label>
		<div class="controls selector">
			<select id="categoryId" name="$group.categoryId.key">
				#foreach($category in $categoryEnum)
				<option value="$!category.key">$!category.value</option>
				#end
			</select>
		</div>
	</div>
</form>
</div>
<script type="text/javascript">
      var Grid = BUI.Grid,
      Data = BUI.Data;
      var Grid = Grid,
      Store = Data.Store,
      brandObj = {
 	   		#foreach($brand in $brandEnum)
 			"$!brand.key": "$!brand.value"
 				#if(${velocityCount} != $brandEnum.size())
 					,
 				#end
 			#end
 	  },
      categoryObj = {
 	   		#foreach($category in $categoryEnum)
 			"$!category.key": "$!category.value"
 				#if(${velocityCount} != $categoryEnum.size())
 					,
 				#end
 			#end
 	  },
 	  statusObj = {
 	   		#foreach($enable in $enableEnum)
 			"$!enable.code": "$!enable.desc"
 				#if(${velocityCount} != $statusEnum.size())
 					,
 				#end
 			#end
 	  },
      columns = [
		{
			title : 'ID',
			elCls: 'center',
			dataIndex : 'id',
			width:'5%'
		},{
          title : '名称',
          elCls: 'left',
          dataIndex :'name',
          width:'10%'
        },{
          title : '标题',
          elCls: 'left',
          dataIndex :'title',
          width:'10%'
        },{
          title : '品牌',
          elCls: 'left',
          dataIndex :'brandId',
		  renderer : Grid.Format.enumRenderer(brandObj),
          width:'10%'
        },{
          title : '品类',
          elCls: 'left',
          dataIndex :'categoryId',
  		  renderer : Grid.Format.enumRenderer(categoryObj),
          width:'10%'
        },{
          title : 'SU',
          elCls: 'left',
          dataIndex :'su',
          width:'10%'
        },{
          title : '体积 (dm³/箱)',
          elCls: 'left',
          dataIndex :'cubage',
          width:'10%'
        },{
          title : '重量 (公斤/箱)',
          elCls: 'left',
          dataIndex :'weight',
          width:'10%'
        },{
            title : '库存 (箱)',
            elCls: 'left',
            dataIndex :'volume',
            width:'5%'
        },{
          title : '有(无)效',
          elCls: 'left',
          dataIndex :'enable',
          renderer : function (val,obj,index){
          	var enable = obj.enable;
          	if(enable == '0'){
          		return '<label style="color:green">有效</label>';
          	} else {
          		return '<label style="color:red">无效</label>';
          	}
          },
          width:'5%'
        },{
		  title : '操作',
		  elCls: 'center',
		  dataIndex : 'oper',
		  renderer : function(val,obj,index) {
			var result = "";
			result += '<span class="grid-command btn-edit" onclick="updateFunction('+index+')">编辑</span>';
			if(obj!=null){
				if(obj.enable == '0'){
					result += '<span class="grid-command btn-del" onclick="deleteFunction('+index+')">删除</span>';
				} else {
					result += '<span class="grid-command btn-rec" onclick="recoverFunction('+index+')">恢复</span>';
				}
			}
			return result;
		  },
	      width:'15%'
		}],
		data = #if($!{list})#noescape()$!{list}#end#else null #end;
      var store = new Store({
        data : data
      }),
      cascade = new Grid.Plugins.Cascade({
		    renderer : function(record){
		    	var result = '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">SU：</label>' + record.su + '</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">3500箱价格：</label>' + record.price3500 + ' 元</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">2000箱价格：</label>' + record.price2000 + ' 元</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">800箱价格：</label>' + record.price800 + ' 元</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">200箱不含税：</label>' + record.price200NoTax + ' 元</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">200箱价格：</label>' + record.price200 + ' 元</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">100箱价格：</label>' + record.price100 + ' 元</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">建议售价：</label>' + record.priceSugg + ' 元</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">体积：</label>' + record.cubage + ' dm³/箱</p></div>';
		    	result += '<div><p><label style="padding-left: 20px;min-width: 80px;display: inline-block;">重量：</label>' + record.weight + ' 公斤/箱</p></div>';
			    return result;
		    }
	  }),
      grid = new Grid.Grid({
        render:'#grid',
        width:'100%',//这个属性一定要设置
        columns : columns,
        bbar : {
        	items : [
			{
				btnCls : 'button button-small',
				text : '<i class="icon-plus"></i>添加',
				listeners : {
					'click' : addFunction
				}
			},{
				btnCls : 'button button-small',
				text : '<i class="icon-print"></i>打印搜索结果',
				listeners : {
					'click' : exportFunction
				}
			}
			]
        },
        plugins : [cascade],
        store : store
      });

    grid.render();
    
  	//创建编辑器
    var editor = new BUI.Editor.DialogEditor({ 
        contentId:'editor',
        width : 650,
        mask : true,
        title : '产品编辑',
        form : {
          srcNode : '#actionFrom'
        },
        success : function(){
          this.accept();
          jQuery("#actionFrom").submit();
        }
    });

    editor.render();
    
  	//添加记录
	function addFunction() {
		editor.show();
		clearRecord('event_submit_do_update');
	}
    
    function updateFunction(index){
		editor.show();
		bindRecord(index,'event_submit_do_update');
	}
	
	function deleteFunction(index){
		BUI.Message.Confirm("确定删除该产品吗?", function() {
			bindRecord(index,'event_submit_do_delete');
			jQuery("#actionFrom").submit();
		}, 'question');
	}
	
	function recoverFunction(index){
		BUI.Message.Confirm("确定恢复该产品吗?", function() {
			bindRecord(index,'event_submit_do_recover');
			jQuery("#actionFrom").submit();
		}, 'question');
	}
    
    function bindRecord(index,event){
		copyCsrf();
		var record = grid.getItemAt(index);
		
    	var id = record.id;
    	var name = record.name;
    	var title = record.title;
    	var brandId = record.brandId;
    	var categoryId = record.categoryId;
    	var su = record.su;
    	var price3500 = record.price3500;
    	var price2000 = record.price2000;
    	var price800 = record.price800;
    	var price200NoTax = record.price200NoTax;
    	var price200 = record.price200;
    	var price100 = record.price100;
    	var priceSugg = record.priceSugg;
    	var cubage = record.cubage;
    	var weight = record.weight;
    	var volume = record.volume;
    	var enable = record.enable;

    	jQuery("#id").val(id);
    	jQuery("#action").val('productAction');
    	jQuery("#name").val(name);
    	jQuery("#title").val(title);
    	jQuery("#brandId").val(brandId);
    	jQuery("#categoryId").val(categoryId);
    	jQuery("#su").val(su);
    	jQuery("#price3500").val(price3500);
    	jQuery("#price2000").val(price2000);
    	jQuery("#price800").val(price800);
    	jQuery("#price200NoTax").val(price200NoTax);
    	jQuery("#price200").val(price200);
    	jQuery("#price100").val(price100);
    	jQuery("#priceSugg").val(priceSugg);
    	jQuery("#cubage").val(cubage);
    	jQuery("#weight").val(weight);
    	jQuery("#volume").val(volume);
    	jQuery("#enable").val(enable);
    	
    	jQuery("#event").attr("name",event);
    	jQuery("#event").val(true);
    }
	
	function clearRecord(event){
		copyCsrf();
    	jQuery("#id").val('');
    	jQuery("#action").val('productAction');
    	jQuery("#name").val('');
    	jQuery("#title").val('');
    	jQuery("#brandId").val('');
    	jQuery("#categoryId").val('');
    	jQuery("#su").val('');
    	jQuery("#price3500").val('');
    	jQuery("#price2000").val('');
    	jQuery("#price800").val('');
    	jQuery("#price200NoTax").val('');
    	jQuery("#price200").val('');
    	jQuery("#price100").val('');
    	jQuery("#priceSugg").val('');
    	jQuery("#cubage").val('');
    	jQuery("#weight").val('');
    	jQuery("#volume").val('');
    	jQuery("#enable").val('');
    	
    	jQuery("#event").attr("name",event);
    	jQuery("#event").val(true);
    }
    
    function copyCsrf(){
		var csrf = jQuery("input[name='_csrf_token']").val();
		jQuery("input[name='_csrf_token']").each(function(){
			jQuery(this).val(csrf);
		});
	}
    
    function exportFunction(){
    	jQuery("#queryForm").attr("action","$admin.setTarget('/export/product.htm')");
    	jQuery("#queryForm").submit();
    }
</script>