<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<div class="doc-content">
	<form action="$admin.setTarget('purchase.vm')" class="form-horizontal well" id="queryForm">
		<div class="row">
			<div class="control-group">
				<label class="control-label">订单ID：</label>
				<div class="controls">
					<input type="text" class="control-text" name="orderId" value="$!query.orderId">
					<input type="hidden" name="page" id="page" value="$!query.page">
					<input type="hidden" name="customerId" value="$!query.customerId">
				</div>
				<label class="control-label">客户名称：</label>
				<div class="controls">
					<input type="text" class="control-text" name="customerName" value="$!query.customerName">
				</div>
				<label class="control-label">交易日期：</label>
				<div class="controls">
					<input type="text" class="calendar" name="createStart" id="createStart" value="$!query.createStart">
					至
					<input type="text" class="calendar" name="createEnd" id="createEnd" value="$!query.createEnd">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="control-group">
				<label class="control-label">产品名称：</label>
				<div class="controls">
					<input type="text" class="control-text" name="name" value="$!query.name">
				</div>
				<label class="control-label">产品类型：</label>
				<div class="controls">
				<select id="q_prodType" name="prodType">
					<option selected value="">全部</option>
					#foreach($prodType in $prodTypeEnum)
					<option 
						#if($!query.prodType)
							#if($!query.prodType==$!prodType.code)
								selected
							#end
						#end 
						value="$!prodType.code">$!prodType.desc</option>
					#end
				</select>
				<select id="q_extendId" name="extendId">
					<option selected value="">全部</option>
					#if($!query.prodType)
						#if($!query.prodType=='0')
							#foreach($product in $productEnum)
							<option 
								#if($!query.extendId)
									#if($!query.extendId==$!product.key)
										selected
									#end
								#end 
								value="$!product.key">$!product.value</option>
							#end
						#end
						#if($!query.prodType=='1')
							#foreach($package in $packageEnum)
							<option 
								#if($!query.extendId)
									#if($!query.extendId==$!package.key)
										selected
									#end
								#end 
								value="$!package.key">$!package.value</option>
							#end
						#end
					#end
				</select>
				<input type="text" class="control-text" name="extendCode" value="$!query.extendCode" placeholder="产品编码">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-actions offset3">
				<button class="button button-primary"><i class="icon-search icon-white"></i>搜索</button>
				<button type="reset" class="button"><i class="icon-repeat"></i>重置</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		var Calendar = BUI.Calendar;
		
		var createStart = new Calendar.DatePicker({
		  trigger:'#createStart',
		  selectedDate : new Date(),
		  autoRender : true
		});
		
		var createEnd = new Calendar.DatePicker({
			  trigger:'#createEnd',
			  selectedDate : new Date(),
			  autoRender : true
		});
		
		jQuery(function(){
			jQuery("#q_prodType").change(function(){
				var prodType = jQuery(this).val();
				jQuery("#q_extendId").empty();
				jQuery("#q_extendId").append(createOption('','全部'));
				if(prodType == '0'){
					#foreach($product in $productEnum)
						jQuery("#q_extendId").append(createOption('$product.key','$product.value'));
					#end
				}
				if(prodType == '1'){
					#foreach($package in $packageEnum)
						jQuery("#q_extendId").append(createOption('$package.key','$package.value'));
					#end
				}
			});
		});
		
		function createOption(key, value){
			return '<option value="'+key+'">'+value+'</option>';
		}
	</script>
</div>
<div id="grid"></div>
$control.setTemplate("paging.vm")
<script type="text/javascript">
      var Grid = BUI.Grid,
      Data = BUI.Data;
      var Grid = Grid,
      Store = Data.Store,
      columns = [
		{
			title : 'ID',
			elCls: 'center',
			dataIndex : 'id',
			width:'5%'
		},{
			title : '客户名称',
			elCls: 'left',
			dataIndex : 'customerName',
			width:'10%'
		},{
            title : '交易时间',
            elCls: 'left',
            dataIndex :'gmtCreate',
            renderer:BUI.Grid.Format.datetimeRenderer,
            width:'15%'
        },{
            title : '类型',
            elCls: 'left',
            dataIndex :'prodType',
            renderer : function(val,obj,index){
            	var prodType = obj.prodType;
            	if(prodType == '0') return '产品';
            	if(prodType == '1') return '产品包';
            	return "未知";
            },
		    width:'5%'
        },{
            title : '产品(包)',
            elCls: 'left',
            dataIndex :'extendCode',
            renderer : function(val,obj,index){
            	var prodType = obj.prodType;
            	var extendCode = obj.extendCode;
            	var name = "";
            	if(prodType == '0'){
            		#foreach($product in $productEnum)
            			if('$product.key' == obj.extendId){
            				return '['+extendCode+']$product.value';
            			}
            		#end
            	}
				if(prodType == '1'){
					#foreach($package in $packagetEnum)
        				if('$package.key' == obj.extendId){
        					return '['+extendCode+']$package.value';
        				}
        			#end
            	}
				return '['+extendCode+']';
            },
		    width:'10%'
        },{
            title : '数量',
            elCls: 'left',
            dataIndex :'quantity',
            width:'10%'
        },{
            title : '单价',
            elCls: 'left',
            dataIndex :'price',
            width:'10%'
        },{
            title : '物流费',
            elCls: 'left',
            dataIndex :'transportFee',
            width:'10%'
        },{
            title : '物流编号',
            elCls: 'left',
            dataIndex :'transportCode',
            width:'10%'
        },{
            title : '总价',
            elCls: 'left',
            renderer: function(val,obj,index){
            	if(obj!=null){
            		var price = obj.price;
            		var quantity = obj.quantity;
            		if(price != null && quantity !=null){
            			return price * quantity;
            		}
            	}
            	return 0;
          	}, 
            width:'5%'
        },{
			title : '操作',
			elCls: 'center',
			dataIndex : 'oper',
			renderer : function(val,obj,index) {
				var orderId = obj.orderId;
				var detail = '<a href="$admin.setTarget('orderdetail.vm')?id='+orderId+'">详情</a>';
				return detail;
			},
	        width:'10%'
		}],
		data = #if($!{list})#noescape()$!{list}#end#else null #end;
      var store = new Store({
        data : data
      }),
      cascade = new Grid.Plugins.Cascade({
		    renderer : function(record){
			    var result = '<div><p>&nbsp;发货地址：' + record.addressFrom + '</p></div>';
			    result += '<div><p>&nbsp;收货地址：' + record.addressTo + '</p></div>';
			    result += '<div><p>&nbsp;联系方式：' + record.keeper + ' ' + record.mobile+' ' + record.phone + '</p></div>';
			    result += '<div><p>&nbsp;备注：' + record.comment + '</p></div>';
			    return result;
		    }
	  }),
      grid = new Grid.Grid({
        render:'#grid',
        width:'100%',//这个属性一定要设置
        columns : columns,
        store : store,
        bbar : {
        	items : [
			{
				btnCls : 'button button-small',
				text : '<i class="icon-print"></i>打印搜索结果',
				listeners : {
					'click' : exportFunction
				}
			}
			]
        },
        plugins : [cascade]
      });

    grid.render();
    
    function exportFunction(){
    	jQuery("#queryForm").attr("action","$admin.setTarget('/export/purchase.vm')");
    	jQuery("#queryForm").submit();
    }
</script>