<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<style>
	.top{
		vertical-align: top;
		padding:5px;
	}
	
	.top h2{
		display:inline-block;
		min-width:230px;
	}
	
	.top .box{
		height:250px;
		border:1px solid lightgrey;
		overflow-y:auto;
	}

	.top .item{
		padding:5px;
		background:white;
	}
	
	.top .item label{
		display: inline-block;
	}
	
	.top .item i{
		float:right;
		margin-right:20px;
		display:none;
		cursor:pointer;
	}
	
	.top .item span{
		display:none;
	}
	
	.top .item:hover span{
		display:inline-block;
		margin-left:5px;
	}
	
	.top .item:hover{
		background:whitesmoke;
	}
	
	.top .item:hover i{
		display:inline-block;
		cursor:pointer;
	}
</style>
<table>
	<tr>
		<td class="top">
			<h2>未开通的权限</h2>
			<div class="box">
			#foreach($exclude in $excludeList)
			<div class="item">
				<label>$exclude.name</label><span id="tip${exclude.id}" class="icon-question"></span><i class="icon-plus" onclick="add('$exclude.id')"></i>
				<script type="text/javascript">
				BUI.use('bui/tooltip',function (Tooltip) {
			        //使用模板右边显示
			        var tip = new Tooltip.Tip({
			          trigger : '#tip${exclude.id}',
			          alignType : 'right',
			          offset : 10,
			          title : '${exclude.desc}',
			          elCls : 'tips tips-success'
			        });
			        tip.render();
			   });
				</script>
			</div>
			#end
			</div>
		</td>
		<td>
			&nbsp;< >&nbsp;
		</td>
		<td class="top">
			<h2>开通的权限</h2>
			<div class="box">
			#foreach($include in $includeList)
			<div class="item">
				<label>$include.name</label><span id="tip${include.id}" class="icon-question"></span><i class="icon-minus" onclick="del('$include.id')"></i>
				<script type="text/javascript">
				BUI.use('bui/tooltip',function (Tooltip) {
			        //使用模板右边显示
			        var tip = new Tooltip.Tip({
			          trigger : '#tip${include.id}',
			          alignType : 'right',
			          offset : 10,
			          title : '${include.desc}',
			          elCls : 'tips tips-success'
			        });
			        tip.render();
			   });
				</script>
			</div>
			#end
			</div>
		</td>
	</tr>
</table>
#set ($group = $form.resourceRole.defaultInstance)
<form action="$admin.setTarget('resource.vm')?roleId=$!{roleId}" method="post" id="actionFrom">
	$csrfToken.hiddenField
	<input type="hidden" name="action" value="resourceRoleAction"/>  
	<input type="hidden" id="event" name="event_submit_do_update" value="true"/>
	<input type="hidden" id="id" name="$group.id.key" value=""/>
	<input type="hidden" id="roleId" name="$group.roleId.key" value="$!{roleId}"/>
	<input type="hidden" id="resourceId" name="$group.resourceId.key" value=""/>
</form>
<script type="text/javascript">
    function add(resourceId){
    	var event = "event_submit_do_update";
    	jQuery("#resourceId").val(resourceId);
    	jQuery("#event").attr("name",event);
    	jQuery("#actionFrom").submit();
    }
    
    function del(resourceId){
    	var event = "event_submit_do_delete";
    	jQuery("#resourceId").val(resourceId);
    	jQuery("#event").attr("name",event);
    	jQuery("#actionFrom").submit();
    }
</script>