<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-modal am-modal-confirm" id="my-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">确定吗</div>
    <div class="am-modal-bd">
      
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>
<script>
	function confirm(message, func){
		jQuery("#my-confirm .am-modal-bd").empty().append(message);
		$('#my-confirm').modal({
	        onConfirm: function(options) {
	        	func();
	        }
	    });
	}
</script>