<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-popup" id="customer-popup">
<div class="am-popup-inner">
   <div class="am-popup-bd">
   		<input type="hidden" name="id" value="" id="doc-customer-id"/>
     	<form action="" class="am-form am-form-horizontal" id="customerForm">
		<fieldset>
		  <legend>个人信息</legend>
		  <div class="am-form-group am-form-icon">
		  	<i class="am-icon-user"></i>
		    <input type="text" id="doc-customer-name" minlength="3" placeholder="输入用户名" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-mobile-phone"></i>
		    <input type="phone" id="doc-customer-mobile" minlength="3" placeholder="输入手机号码" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-credit-card"></i>
		    <input type="text" id="doc-customer-idCard" minlength="3" placeholder="输入身份证号码" class="am-form-field"/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-mobile-phone"></i>
		    <input type="phone" id="doc-customer-recommender" minlength="3" placeholder="推荐人手机号码" class="am-form-field"/>
		  </div>
		  <div class="am-form-group">
		    <small id="customer-alert-message" style="color:red"></small>
		  </div>
		  <div class="am-form-group">
		    <button type="submit" class="am-btn am-btn-primary am-fl">&nbsp;&nbsp;确定&nbsp;&nbsp;</button>
		    <button data-am-modal-close class="am-btn am-btn-primary am-fr">&nbsp;&nbsp;关闭&nbsp;&nbsp;</button>
		  </div>
		</fieldset>
	</form>
   </div>
</div>
</div>
<script>

function openCustomerInfo(){
	jQuery.ajax({
		type: "get",
		url: '/admin/api/logined.json',
		success:function(data, textStatus){
			if(data.success){
				loadCustomerInfo();
				jQuery("#customer-popup").modal();
			} else {
				jQuery("#login-popup").modal();
			}
		}
 	});
}

function loadCustomerInfo(){
	jQuery.ajax({
		type: "get",
		url: '/admin/api/logined.json',
		success:function(data, textStatus){
			if(data.success){
				var customer = data.dataObject;
				jQuery("#doc-customer-id").val(customer.id);
				jQuery("#doc-customer-name").val(customer.name);
				jQuery("#doc-customer-mobile").val(customer.mobile);
				jQuery("#doc-customer-idCard").val(customer.idCard);
				jQuery("#doc-customer-recommender").val(customer.recommender);
			}
		}
 	});
}

jQuery(function(){
	jQuery("#customerForm").submit(function(){
		event.preventDefault();
		
		jQuery("#customer-alert-message").empty();
		
		var id = jQuery("#doc-customer-id").val();
		var name = jQuery("#doc-customer-name").val();
		var mobile = jQuery("#doc-customer-mobile").val();
		var idCard = jQuery("#doc-customer-idCard").val();
		var recommender = jQuery("#doc-customer-recommender").val();
		
		var timestamp = currentTime();
	    var para = "timestamp="+timestamp+"&id="+id+"&name="+name+"&mobile="+mobile+"&idCard="+idCard+"&recommender="+recommender;
		
		jQuery.ajax({
			type: "get",
			url: '/admin/api/updateCustomer.json?'+ para,
			success:function(data, textStatus){
				if(data.success){
					alert("修改个人信息成功");
					jQuery("#customer-popup").modal('close');
				} else {
					jQuery("#customer-alert-message").empty().append(data.message);
					return;
				}
			}
	 	});
	});
});
</script>