<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-modal am-modal-no-btn" tabindex="-1" id="loadingModal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">加载中...
    </div>
    <div class="am-modal-bd">
      <i class='am-icon-spinner am-icon-spin'></i>正在加载最新数据
    </div>
  </div>
</div>
<script>
	function loading(){
		var $modal = jQuery('#loadingModal');
		$modal.modal({closeViaDimmer: 0});
	}
	
	function loadingText(text){
		jQuery("#loadingModal .am-modal-bd").empty().append("<i class='am-icon-spinner am-icon-spin'></i>"+text);
	}
	
	function loaded(){
		var $modal = jQuery('#loadingModal');
		$modal.modal('close');
	}
</script>