<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-popup" id="login-popup">
<div class="am-popup-inner">
   <div class="am-popup-bd">
     	<form id="loginForm" class="am-form">
		<fieldset>
		  <legend>会员登录 <span class="am-fr am-serif"><small>还没有账号&nbsp;&nbsp;<a href="#" data-am-modal="{target: '#register-popup'}">立即注册</a></small></span></legend>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-mobile-phone"></i>
		    <input type="text" id="doc-vld-name" minlength="3" placeholder="输入手机号码" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-key"></i>
		    <input type="password" id="doc-vld-pwd" minlength="3" placeholder="输入密码" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group">
		    <small id="am-alert-message" style="color:red"></small>
		  </div>
		  <div class="am-form-group">
		    <button type="submit" class="am-btn am-btn-primary am-fl" id="loginBtn">&nbsp;&nbsp;登录&nbsp;&nbsp;</button>
		    <button data-am-modal-close class="am-btn am-btn-primary am-fr">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
		  </div>
		</fieldset>
	</form>
   </div>
</div>
</div>
<script>
jQuery(function(){
	jQuery("#loginForm").submit(function(){
		event.preventDefault();
		
		jQuery("#am-alert-message").empty();
		
		var username = jQuery("#doc-vld-name").val();
		var password = jQuery("#doc-vld-pwd").val();
		
		var timestamp = currentTime();
	    var para = "timestamp="+timestamp+"&mobile="+username+"&password="+password;
		
		jQuery.ajax({
			type: "get",
			url: '/admin/api/login.json?'+ para,
			success:function(data, textStatus){
				if(data.success){
					getHotline();
					jQuery(".after-login").show();
					jQuery("#login-popup").modal('close');
				} else {
					jQuery("#am-alert-message").empty().append(data.message);
		     		return;
				}
			}
	 	});
	});
});
</script>
 