<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-popup" id="order-detail-popup">
<div class="am-popup-inner">
   <div class="am-popup-hd">
     <span data-am-modal-close class="am-close">&times;</span>
   </div>
   <div class="am-popup-bd">
   	<div data-am-widget="list_news" class="am-list-news am-list-news-default">
	  <!--列表标题-->
	  <div class="am-list-news-hd am-cf">
	      <h2>订单详情</h2>
	  </div>
	  <div class="am-list-news-bd">
	    <ul class="am-list" id="order-detail-items">
	    </ul>
	  </div>
	</div>
   </div>
</div>
</div>
<script>
function openOrderDetail(id){
	jQuery.ajax({
		type: "get",
		url: '/admin/api/logined.json',
		success:function(data, textStatus){
			if(data.success){
				loadOrderDetail(id);
				jQuery("#order-detail-popup").modal();
			} else {
				jQuery("#login-popup").modal();
			}
		}
 	});
}

function loadOrderDetail(id){
	jQuery.ajax({
		type: "get",
		url: '/admin/api/getMyOrder.json?id='+id,
		success:function(data,textStatus){
			if(data.success){
				var obj = data.dataObject;
				var orderDO = obj.orderDO;
				var gmtCreate = obj.gmtCreate;
				var statusBadge = obj.statusBadge;
				var status = obj.status;
				var item = "<li class='am-g am-list-item-desced' style='padding: 1rem;'>";
				item += "<div class='am-list-item-hd'>订单编号:"+orderDO.id + " "+gmtCreate + " "+statusBadge+status+"</span></div>";
				item += "<div class='am-list-item-text'>定金:<span class='am-fr'>"+orderDO.deposit+"元</span></div>";
				item += "<div class='am-list-item-text'>总价:<span class='am-fr'>"+orderDO.totalPrice +"元</span></div>";
				item += "<div class='am-list-item-text'>总运费:<span class='am-fr'>"+orderDO.transportFee +"元</span></div>";
				item += "<div class='am-list-item-text'>备注:<span class='am-fr'>"+orderDO.comment +"</span></div>";
				
				var purchaseList = obj.purchaseList;
				
				for(var i=0;i<purchaseList.length;i++){
					var purchaseDO = purchaseList[i];
					item += "	<hr data-am-widget='divider' class='am-divider am-divider-default' />";
					item += "	<div class='am-list-item-text'>"+purchaseDO.title+"</div>";
					item += "	<div class='am-list-item-text'>发货地址:<span class='am-fr'>"+purchaseDO.addressFrom+"</span></div>";
					item += "	<div class='am-list-item-text'>收货地址:<span class='am-fr'>"+purchaseDO.addressTo+"</span></div>";
					item += "	<div class='am-list-item-text'>收货人:<span class='am-fr'>"+purchaseDO.keeper+"</span></div>";
					item += "	<div class='am-list-item-text'>收货手机:<span class='am-fr'>"+purchaseDO.mobile+"</span></div>";
					item += "	<div class='am-list-item-text'>收货电话:<span class='am-fr'>"+purchaseDO.phone+"</span></div>";
					item += "	<div class='am-list-item-text'>运费:<span class='am-fr'>"+purchaseDO.transportFee+"</span></div>";
					item += "	<div class='am-list-item-text'>物流编号:<span class='am-fr'>"+purchaseDO.transportCode+"</span></div>";
					item += "	<div class='am-list-item-text'>备注:<span class='am-fr'>"+purchaseDO.comment+"</span></div>";
					var purchaseItemList = purchaseDO.itemList;
					for(var j=0;j<purchaseItemList.length;j++){
						var purchaseItem = purchaseItemList[j];
						if(purchaseItem.quantity==0){
							continue;
						}
						item += "	<hr data-am-widget='divider' style='border-bottom:1px dashed lightgrey;' class='am-divider am-divider-default' />";
						item += "	<ul>";
						item += "		<li>名称:<span class='am-fr'>"+purchaseItem.name+"</span></li>";
						item += "		<li>成交价格:<span class='am-fr'>"+purchaseItem.price+"元</span></li>";
						item += "		<li>成交数量:<span class='am-fr'>"+purchaseItem.quantity+"箱</span></li>";
						item += "		<li>体积:<span class='am-fr'>"+purchaseItem.mcubage+"立方米</span></li>";
						item += "		<li>重量:<span class='am-fr'>"+purchaseItem.mweight+"吨</span></li>";
						item += "	</ul>";
					}
				}
				item += "</li>";
				jQuery("#order-detail-items").empty().append(item);
			}
		}
	});
}
</script>