<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-popup" id="password-popup">
<div class="am-popup-inner">
   <div class="am-popup-bd">
     	<form action="" class="am-form am-form-horizontal" id="passwordForm">
		<fieldset>
		  <legend>修改密码</legend>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-key"></i>
		    <input type="password" id="doc-password-old" minlength="3" placeholder="输入旧密码" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-key"></i>
		    <input type="password" id="doc-password-new" minlength="3" placeholder="输入新密码" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-key"></i>
		    <input type="password" id="doc-password-ag" minlength="3" placeholder="再输入一遍" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group">
		    <small id="password-alert-message" style="color:red"></small>
		  </div>
		  <div class="am-form-group">
		    <button type="submit" class="am-btn am-btn-primary am-fl">&nbsp;&nbsp;确定&nbsp;&nbsp;</button>
		    <button data-am-modal-close class="am-btn am-btn-primary am-fr">&nbsp;&nbsp;关闭&nbsp;&nbsp;</button>
		  </div>
		</fieldset>
	</form>
   </div>
</div>
</div>
<script>
jQuery(function(){
	
	jQuery("#passwordForm").submit(function(){
		event.preventDefault();
		
		jQuery("#password-alert-message").empty();
		
		var oldPwd = jQuery("#doc-password-old").val();
		var newPwd = jQuery("#doc-password-new").val();
		var agPwd = jQuery("#doc-password-ag").val();

		if(agPwd != newPwd){
			jQuery("#password-alert-message").empty().append("两次密码输入不一致");
			return;
		}
		
		var timestamp = currentTime();
	    var para = "timestamp="+timestamp+"&oldPwd="+oldPwd+"&newPwd="+newPwd;
		
		jQuery.ajax({
			type: "get",
			url: '/admin/api/updatePassword.json?'+ para,
			success:function(data, textStatus){
				if(data.success){
					alert("密码成功");
					jQuery("#password-popup").modal('close');
				} else {
					jQuery("#password-alert-message").empty().append(data.message);
					return;
				}
			}
	 	});
	});
});
</script>