<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div class="am-popup" id="register-popup">
<div class="am-popup-inner">
   <div class="am-popup-hd">
     <span data-am-modal-close class="am-close">&times;</span>
   </div>
   <div class="am-popup-bd">
     	<form action="" class="am-form am-form-horizontal">
		<fieldset>
		  <legend>会员注册</legend>
		  <div class="am-form-group am-form-icon">
		  	<i class="am-icon-user"></i>
		    <input type="text" id="doc-vld-name" minlength="3" placeholder="输入用户名" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-mobile-phone"></i>
		    <input type="phone" id="doc-vld-mobile" minlength="3" placeholder="输入手机号码" class="am-form-field" pattern="number" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-at"></i>
		    <input type="email" id="doc-vld-email" minlength="3" placeholder="输入电子邮箱" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-key"></i>
		    <input type="password" id="doc-vld-pwd" minlength="3" placeholder="输入密码" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group am-form-icon">
		    <i class="am-icon-key"></i>
		    <input type="password" id="doc-vld-pwd2" minlength="3" placeholder="再次输入密码" class="am-form-field" required/>
		  </div>
		  <div class="am-form-group">
		    <button type="submit" class="am-btn am-btn-primary am-fl">&nbsp;&nbsp;确定&nbsp;&nbsp;</button>
		    <button data-am-modal-close class="am-btn am-btn-primary am-fr">&nbsp;&nbsp;关闭&nbsp;&nbsp;</button>
		  </div>
		</fieldset>
	</form>
   </div>
</div>
</div>