<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>快消后台管理系统</title>
<!-- <link rel="icon" href="/img/favicon.ico" mce_href="/img/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/img/favicon.ico" mce_href="/img/favicon.ico" type="image/x-icon"/> -->
</head>
<body style="padding:10px">
$control.setTemplate("resource.vm")
<table width="100%">
	<tr>
		<td valign="top" align="left" width="142px">
			<h1>快消后台管理系统</h1>
		</td>
		<td align="right">
			$control.setTemplate("logout.vm")
		</td>
	</tr>
	<tr>
		<td valign="top" align="left" width="142px">
			$control.setTemplate("menu.vm")
			<h1>快消后台订单状态</h1>
			$control.setTemplate("orderMonitor.vm")
		</td>
		<td valign="top" align="left">
			$screen_placeholder
		</td>
	</tr>
</table>
<hr/>
<div style="text-align:center;">
	${copyright}
</div>
<div id="goTop" onclick="javascript:window.scrollTo(0,0);">
	<i class="icon-chevron-up"></i>返回顶部
</div>
</body>
</html>