<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<div data-am-widget="tabs" class="am-tabs am-tabs-default">
  <ul class="am-tabs-nav am-cf">
    <li class="am-active">
      <a href="[data-tab-panel-0]">武汉</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-1]">广州</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-2]">重庆</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-0]">沈阳</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-1]">杭州</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-2]">南京</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-0]">大连</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-1]">济南</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-2]">上海</a>
    </li>
  </ul>
  <div class="am-tabs-bd">
    <div data-tab-panel-0 class="am-tab-panel am-active">
		<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <div class="am-list-news-hd am-cf">
    <!--带更多链接-->
    <h2 class="am-sans-serif">今日最新报价</h2>
    <span class="am-list-news-more am-fr">刷新</span>
  </div>
  <div class="am-list-news-bd">
    <ul class="am-list">
      <!--缩略图在标题左边-->
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
        <div class=" am-u-sm-12 am-list-main">
          <h3 class="am-list-item-hd">
            PCC订单2&nbsp;&nbsp;<span class="am-badge am-badge-success am-round">9.5折</span>
            <span class="am-sans-serif am-fr"><a><i class="am-icon-shopping-cart"></i>&nbsp;订购</a></span>
          </h3>
          <div class="am-list-item-text">
          	2015-04-24 至 2016-04-24
          	<span class="am-sans-serif am-fr">仓库: 杭州</span>
          </div>
          <div class="am-list-item-text">
          	<em>飘柔,海飞丝除外</em>
          </div>
          <section data-am-widget="accordion" class="am-accordion am-accordion-basic" data-am-accordion='{ "multiple": true }'>
			  <dl class="am-accordion-item">
			    <dt class="am-accordion-title">
			    	商品详情列表
			    	<span class="am-fr">
		          		<span class="am-badge am-badge-warning am-round">100箱 起</span>&nbsp;
		          		<span class="am-badge am-badge-warning am-round">1万元 起</span>
		          	</span>
			    </dt>
			    <dd class="am-accordion-bd am-collapse ">
			      <div class="am-accordion-content">
			      		 走在忠孝东路
			        <br/>徘徊在茫然中
			        <br/>在我的人生旅途
			        <br/>选择了多少错误
			        <br/>我在睡梦中惊醒
			        <br/>感叹悔言无尽
			        <br/>恨我不能说服自己
			        <br/>接受一切教训
			        <br/>让生命去等候
			        <br/>等候下一个漂流
			        <br/>让生命去等候
			        <br/>等候下一个伤口</div>
			    </dd>
			  </dl>
			</section>
        </div>
      </li>
    </ul>
  </div>
</div>
	</div>
    <div data-tab-panel-1 class="am-tab-panel ">【彩虹】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。</div>
  <div
  data-tab-panel-2 class="am-tab-panel ">【歌唱】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。</div>
</div>
</div>
<script>
	
</script>