<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>快消后台管理系统</title>
<!-- <link rel="icon" href="/img/favicon.ico" mce_href="/img/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/img/favicon.ico" mce_href="/img/favicon.ico" type="image/x-icon"/> -->
</head>
<body style="padding:10px">
$control.setTemplate("resource.vm")
$screen_placeholder
</body>
</html>