<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
#set ($orderDO = $order.orderDO)
#set ($customerDO = $order.customerDO)
#set ($purchaseList = $order.purchaseList)
<style>
	.form-horizontal label{
		min-width: 200px;
		display: inline-block;
	}
</style>
<div><a href='#' onclick='javascript:history.go(-2)'>返回</a>&nbsp;<a href='#' onclick='javascript: window.print();'>打印</a></div>
<br>
<h1>订单详情</h1>
<hr>
<form class="form-horizontal">
	<div class="row">
      <div class="control-group">
        <label class="control-label">订单状态：</label>
        <div class="controls">
				#foreach($status in $statusEnum)
				    #if($!orderDO.status == $status.code)
				    	<label>$!status.desc</label>
				    #end 
				#end
        </div>
        <label class="control-label">客户名称：</label>
		<div class="controls">
			<label>$!{orderDO.customerName} ($!orderDO.customerMobile)</label>
		</div>
		<label class="control-label">交易时间：</label>
		<div class="controls">
			<label>$dateTools.DateToString($!orderDO.gmtCreate)</label>
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">定金：</label>
		<div class="controls">
			<label>$!orderDO.deposit</label>
		</div>
        <label class="control-label">交易金额：</label>
        <div class="controls">
        	<label>$!orderDO.totalPrice</label>
        </div>
        <label class="control-label">物流费：</label>
		<div class="controls">
			<label>$!orderDO.transportFee</label>
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">备注：</label>
        <div class="controls control-row4">
        	<label>$!orderDO.comment</label>
        </div>
      </div>
    </div>
</form>
<br><br>
<h1>出货单</h1>
<hr>
<div>
	#foreach($purchase in $purchaseList)
	<form class="form-horizontal" style="margin:5px;border-bottom:1px dashed lightgrey;">
	<div class="row">
      <div class="control-group">
        <label class="control-label">客户名称：</label>
		<div class="controls">
			<label>$!purchase.customerName ($!orderDO.customerMobile)</label>
		</div>
		<label class="control-label">交易时间：</label>
		<div class="controls">
			<label>$dateTools.DateToString($!purchase.gmtCreate)</label>
		</div>
		<label class="control-label">最后更新：</label>
		<div class="controls">
			<label>$dateTools.DateToString($!purchase.gmtModify)</label>
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">商品名称：</label>
		<div class="controls">
			<label>$!{purchase.name} ($!{purchase.extendCode})</label>
		</div>
		<label class="control-label">商品标题：</label>
		<div class="controls">
			<label>$!{purchase.title}</label>
		</div>
		<label class="control-label">数量：</label>
		<div class="controls">
			<label>$!{purchase.quantity} $!{purchase.unit}</label>
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">发货仓库：</label>
		<div class="controls">
			<label>$!purchase.addressFrom</label>
		</div>
        <label class="control-label">收货仓库：</label>
        <div class="controls">
        	<label>$!purchase.addressTo</label>
        </div>
        <label class="control-label">物流费：</label>
		<div class="controls">
			<label>$!purchase.transportFee ($!purchase.transportCode)</label>
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">联系人：</label>
		<div class="controls">
			<label>$!purchase.keeper</label>
		</div>
        <label class="control-label">联系人手机：</label>
        <div class="controls">
        	<label>$!purchase.mobile</label>
        </div>
        <label class="control-label">联系人电话：</label>
		<div class="controls">
			<label>$!purchase.phone</label>
		</div>
	  </div>
	</div>
	<div class="row">
      <div class="control-group">
        <label class="control-label">备注：</label>
        <div class="controls control-row4">
        	<label>$!purchase.comment</label>
        </div>
      </div>
    </div>
	</form>
	#end
</div>